<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="adminMapper">
	<select id="selectNormalList" resultType="Member_N">
		SELECT
		       M.ID
		     , NICKNAME
		     , NAME
             , REGEXP_REPLACE(PHONE, '(.{3})(.+)(.{4})', '\1-\2-\3') AS PHONE
		     , EMAIL
		     , BLIND
			 , CASE ISACTIVE WHEN 'Y' THEN '../../resources/img/admin/icon/active.svg'
                             ELSE '../../resources/img/admin/icon/inactive.svg'
               END AS ISACTIVE
		  FROM
		       MEMBER M
	 LEFT JOIN
	           M_NORMAL N ON(M.ID = N.ID)
	     WHERE
	     	   GRADE = 'N'
	</select>
	<select id="selectPartnerList" resultType="A_Member_P">
		SELECT
		       M.ID
		     , C_NAME AS CAFE
             , NAME
             , ADDR
             , REGEXP_REPLACE(PHONE, '(.{3})(.+)(.{4})', '\1-\2-\3') AS PHONE
             , EMAIL
             , WARNED
             , TO_CHAR(ENDATE,'yyyy-mm-dd')AS ENDATE
			 , CASE ISACTIVE WHEN 'Y' THEN '../../resources/img/admin/icon/active.svg'
                             ELSE '../../resources/img/admin/icon/inactive.svg'
               END AS ISACTIVE
		  FROM
		       MEMBER M
	 LEFT JOIN
	           M_PARTNER P ON(M.ID = P.ID)
     LEFT JOIN
               CAFE C ON(M.ID = C.ID)
	     WHERE
	     	   GRADE = 'P'
	       AND
	       	   C_NAME IS NOT NULL
	</select>
		<select id="selectCouponByDate" parameterType="string" resultType="Coupon">
		   SELECT C.COUPON_NAME
             	, ISSUEDBY
             	, LIMIT
             	, COUNT(C.COUPON_NAME) AS ISSUED
             	, COUNT(CASE WHEN EXPDATE <![CDATA[<]]> SYSDATE AND ISUSED = 'N' THEN 1 ELSE NULL END) AS EXPIRED
                , COUNT(CASE WHEN ISUSED = 'Y' THEN 1 ELSE NULL END) AS USED
			 FROM COUPON C
		<choose>
     		<when test="_parameter == 'day'">WHERE TO_DATE(SYSDATE,'yy-mm-dd') - TO_DATE(ISSUEDATE, 'yy-mm-dd') = 0</when>
     		<when test="_parameter == 'week'">WHERE ISSUEDATE <![CDATA[>=]]> TRUNC(SYSDATE, 'IW')
									  AND ISSUEDATE <![CDATA[<]]> TRUNC(SYSDATE, 'IW') + 7</when>
     		<when test="_parameter == 'month'">WHERE ISSUEDATE <![CDATA[>=]]> TRUNC(SYSDATE, 'MM')
					   AND ISSUEDATE <![CDATA[<]]> LAST_DAY(SYSDATE)</when>
			<when test="_parameter == 'year'">WHERE EXTRACT(YEAR FROM ISSUEDATE) = EXTRACT(YEAR FROM SYSDATE)</when>
   		</choose>
		 GROUP BY C.COUPON_NAME, ISSUEDBY, LIMIT
	</select>
		<select id="selectCouponByTerm" parameterType="map" resultType="Coupon">
			SELECT
				  C.COUPON_NAME
             	, ISSUEDBY
             	, LIMIT
             	, COUNT(C.COUPON_NAME) AS ISSUED
				, COUNT(CASE WHEN EXPDATE <![CDATA[<]]> SYSDATE AND ISUSED = 'N' THEN 1 ELSE NULL END) AS EXPIRED
                , COUNT(CASE WHEN ISUSED = 'Y' THEN 1 ELSE NULL END) AS USED
			 FROM COUPON C
       		WHERE ISSUEDATE <![CDATA[>]]> #{startDate}
       		  AND ISSUEDATE <![CDATA[<]]> #{endDate}
         GROUP BY C.COUPON_NAME, ISSUEDBY, LIMIT
		</select>
		<select id="selectAdWaitingList" resultType="A_Promo">
		 SELECT
               AD_CODE AS ADCODE
             , C_NAME AS CAFE
             , TO_CHAR(APPLYDATE,'yyyy-mm-dd') AS APPLYDATE
             , TO_CHAR(POSTDATE,'yyyy-mm-dd') AS POSTDATE
             , CONCAT(DURATION, '일') AS DURATION
             , RENAME_IMAGE AS RENAMEIMAGE
             , IMAGE
             , AD_STATUS AS ADSTATUS
             , A.ID AS ID
             , BN_CODE AS BNCODE
             , URL
		  FROM
		  	   AD A
    INNER JOIN
			   CAFE C ON(A.ID = C.ID)
		 WHERE
		 	   AD_STATUS = '승인 대기'
		</select>
		<select id="selectAdConfirmedList" resultType="A_Promo">
		 SELECT
               AD_CODE AS ADCODE
             , C_NAME AS CAFE
             , TO_CHAR(APPLYDATE,'yyyy-mm-dd') AS APPLYDATE
             , TO_CHAR(POSTDATE,'yyyy-mm-dd') AS POSTDATE
             , CONCAT(DURATION, '일') AS DURATION
             , RENAME_IMAGE AS RENAMEIMAGE
             , IMAGE
             , AD_STATUS AS ADSTATUS
             , A.ID AS ID
             , BN_CODE AS BNCODE
             , URL
             
		  FROM
		  	   AD A
    INNER JOIN
			   CAFE C ON(A.ID = C.ID)
		 WHERE
		 	   AD_STATUS = '승인 완료'		
		</select>
		<update id="updateAdConfirmed" parameterType="string">
		UPDATE
			   AD
		   SET
		       AD_STATUS = '승인 완료'
		 WHERE 
			   AD_CODE = #{adCode}	
		</update>
</mapper>
