<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cafeMapper">
	<resultMap id="cafeResultSet" type="Cafe">
		<id property="caCode" column="C_CODE"/>
		<result property="caName" column="C_NAME"/>
		<result property="caOwner" column="C_OWNER"/>
		<result property="caNumber" column="C_NUMBER"/>
		<result property="caAddress" column="C_ADDRESS"/>
		<result property="caStatus" column="C_STATUS"/>
		<result property="caLa" column="C_LA"/>
		<result property="caLo" column="C_LO"/>
		<result property="caId" column="ID"/>	
		<result property="caStartTime" column="STARTTIME"/>
		<result property="wifi" column="C_WIFI"/>
		<result property="toilet" column="C_TOILET"/>
		<result property="parking" column="C_PARKING"/>
		<result property="message" column="C_MESSAGE"/>
		<result property="caEndTime" column="ENDTIME"/>
		<result property="mainPhoto" column="MAINPHOTO"/>
		<result property="photo1" column="PHOTO1"/>
		<result property="photo2" column="PHOTO2"/>
		<result property="photo3" column="PHOTO3"/>
	</resultMap>
	
	<resultMap id="coffeeResultSet" type="Coffee">
		<id property="cfNo" column="CF_NO"/>
		<result property="cfCategory" column="CF_CATEGORY"/>
		<result property="cfIname" column="CF_INAME"/>
		<result property="cfIchname" column="CF_ICHNAME"/>
		<result property="chIpath" column="CF_IPATH"/>
		<result property="cfName" column="CF_NAME"/>
		<result property="cfPrice" column="CF_PRICE"/>
		<result property="cfCount" column="CF_COUNT"/>	
		<result property="caNo" column="C_CODE"/>		
	</resultMap>
	
<!-- 	<resultMap id="cafePhotoResultSet" type="Caphoto">
		<id property="caINo" column="C_INO"/>
		<result property="caIName" column="C_INAME"/>
		<result property="caIchName" column="C_ICHNAME"/>
		<result property="caIType" column="C_ITYPE"/>
		<result property="caCode" column="C_CODE"/>
	</resultMap> -->


	<resultMap id="cafeResResultSet" type="CafeRes">
		<id property="caResNo" column="C_RES"/>
		<result property="caResType" column="C_RES_TYPE"/>
		<result property="caResDate" column="C_RES_DATE"/>
		<result property="caResPer" column="C_RES_PER"/>
		<result property="caNo" column="C_CODE"/>
		<result property="userId" column="ID"/>
		<result property="caResIng" column="C_RES_ING"/>
		<result property="caResHereTime" column="C_HERETIME"/>	
		<result property="caResGoTime" column="C_GOTIME"/>		
		<result property="caToDate" column="C_DATE"/>
	</resultMap>
	
	<resultMap id="coffeeResResultSet" type="CoffeeRes">
		<id property="cfResNo" column="CF_RES"/>
		<result property="cfResHI" column="CF_RES_HI"/>
		<result property="cfResCap" column="CF_RES_CAP"/>
		<result property="cfResCup" column="CF_RES_CUP"/>
		<result property="caResNo" column="C_RES"/>
		<result property="cfResAmount" column="CF_AMOUNT"/>
		<result property="cfNo" column="CF_NO"/>		
	</resultMap>
	
	<resultMap id="coffeeCartResultSet" type="CoffeeCart">
		<id property="cfResNo" column="CF_RES"/>
		<result property="cfResHI" column="CF_RES_HI"/>
		<result property="cfResCap" column="CF_RES_CAP"/>
		<result property="cfResCup" column="CF_RES_CUP"/>
		<result property="caResNo" column="C_RES"/>
		<result property="cfResAmount" column="CF_AMOUNT"/>
		<result property="cfNo" column="CF_NO"/>
		<result property="cfIchname" column="CF_ICHNAME"/>
		<result property="cfName" column="CF_NAME"/>
		<result property="cfPrice" column="CF_PRICE"/>
		<result property="cfCount" column="CF_COUNT"/>
		<result property="caResDate" column="C_RES_DATE"/>
		<result property="caResType" column="C_RES_TYPE"/>
		<result property="caResHereTime" column="C_HERETIME"/>
		<result property="caResGoTime" column="C_GOTIME"/>
		<result property="id" column="ID"/>			
	</resultMap>
	
	
	<!-- 신고 테이블 -->
	<resultMap id="cafeReportResultSet" type="Report">
		<id property="reportNo" column="REPORT_NO"/>
		<result property="reportType" column="REPORT_TYPE"/>
		<result property="reportReason" column="REPORT_REASON"/>
		<result property="iswarned" column="ISWARNED"/>
		<result property="ischecked" column="ISCHECKED"/>
		<result property="imgName" column="IMGNAME"/>
		<result property="imgPath" column="IMGPATH"/>	
		<result property="imgChName" column="IMGCHNAME"/>
		<result property="reporterId" column="REPORTER_ID"/>
		<result property="itemCode" column="ITEM_CODE"/>
		<result property="reporteeId" column="REPORTEE_ID"/>			
	</resultMap>
	
	
	<resultMap id="cafeOrderResultSet" type="OrderList">
		<id property="caResNo" column="C_RES"/>
		<result property="caResType" column="C_RES_TYPE"/>
		<result property="caResDate" column="C_RES_DATE"/>
		<result property="caCode" column="C_CODE"/>
		<result property="userId" column="ID"/>
		<result property="caResing" column="C_RES_ING"/>
		<result property="caHereTime" column="C_HERETIME"/>	
		<result property="caGoTime" column="C_GOTIME"/>
		<result property="cfName" column="CF_NAME"/>
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>			
	</resultMap>
	
	
	<!-- 입력을 위한 카페 정보 가져오기 -->
	<select id="selectCafeWrite" resultMap="cafeResultSet">
	SELECT	
		C_CODE,
        C_NAME,
        C_OWNER,
        C_NUMBER,
        C_ADDRESS,
        C_STATUS,
        C_LA,
        C_LO,
        ID
    FROM CAFE
    WHERE ID = #{Id}
	</select>
	
	<!-- 카페 정보 입력 -->
	<insert id="insertCafeInfo" parameterType="Cafe">
	INSERT
	INTO CAFE
	(
		C_CODE,
        C_NAME,
        C_OWNER,
        C_NUMBER,
        C_ADDRESS,
        C_STATUS,
        C_LA,
        C_LO,
        ID,
        STARTTIME,
        C_WIFI,
        C_TOILET,
        C_PARKING,
        C_MESSAGE,
        ENDTIME,
        MAINPHOTO,
        PHOTO1,
        PHOTO2,
        PHOTO3
	)
	VALUES
	(
        'CA' || CA.NEXTVAL,
        #{caName},
        '최준',
        '111-22-3333',
        #{caAddress},
        DEFAULT,
        #{caLa},
        #{caLo},
        #{caId},
        #{caStartTime},
        #{wifi},
        #{toilet},
        #{parking},
        #{message},
        #{caEndTime},
        #{mainPhoto},
        #{photo1},
        #{photo2},
        #{photo3}
	)
	</insert>
	
	
	<select id="selectCafeList" resultMap="cafeResultSet">
		SELECT
		    C_CODE,
		    C_NAME,
		    C_ADDRESS,
		    C_LA,
		    C_LO,
		    ID,
		    STARTTIME,
		    C_WIFI,
		    C_TOILET,
		    C_PARKING,
		    C_MESSAGE,
		    ENDTIME,
		    MAINPHOTO,
		    PHOTO1,
		    PHOTO2,
		    PHOTO3
		FROM CAFE
		WHERE ID = #{Id}
		AND C_STATUS = 'Y'
		ORDER BY C_CODE DESC
	</select>
	
	<select id="selectCafeInfo" resultMap="cafeResultSet">
		SELECT
			C_CODE,
		    C_NAME,
		    C_ADDRESS,
		    C_LA,
		    C_LO,
		    ID,
		    STARTTIME,
		    C_WIFI,
		    C_TOILET,
		    C_PARKING,
		    C_MESSAGE,
		    ENDTIME,
		    MAINPHOTO,
		    PHOTO1,
		    PHOTO2,
		    PHOTO3
		FROM 
			CAFE
		WHERE 
			C_CODE = #{caCode}
	</select>
	
	<update id="updateCafeInfo" parameterType="Cafe">
	UPDATE
		CAFE
	SET
		C_NAME = #{caName},
	    C_ADDRESS = #{caAddress},
	    C_LA = #{caLa},
	    C_LO = #{caLo},
	    C_STATUS = 'Y',
	    STARTTIME = #{caStartTime},
	    C_WIFI = #{wifi},
	    C_TOILET= #{toilet},
	    C_PARKING = #{parking},
	    C_MESSAGE = #{message},
	    ENDTIME = #{caEndTime},
	    MAINPHOTO = #{mainPhoto},
	    PHOTO1 = #{photo1},
	    PHOTO2 = #{photo2},
	    PHOTO3 = #{photo3}
	WHERE
		C_CODE = #{caCode}
	</update>
	
	<select id="selectCoffeeList" resultMap="coffeeResultSet">
	SELECT
    	CF_NO,
	    CF_CATEGORY,
	    CF_INAME,
	    CF_ICHNAME,
	    CF_IPATH,
	    CF_NAME,
	    CF_PRICE,
	    CF_COUNT,
	    CO.C_CODE
	FROM COFFEE CO
	FULL OUTER JOIN CAFE CA
	ON CO.C_CODE = CA.C_CODE
	WHERE 
				CA.C_CODE = #{caCode}
	ORDER BY CF_NO DESC
	</select>
	
	<insert id="insertCoffee" parameterType="Coffee">
	INSERT 
	INTO COFFEE
	(
		CF_NO,
		CF_CATEGORY,
		CF_INAME,
		CF_ICHNAME,
		CF_IPATH,
		CF_NAME,
		CF_PRICE,
		CF_COUNT,
		C_CODE
	)
	VALUES
	(
		'CO' || CO.NEXTVAL,
		#{cfCategory},
		#{cfIname},
		#{cfIchname},
		#{chIpath},
		#{cfName},
		#{cfPrice},
		#{cfCount},
		#{caNo}
	)
	</insert>
	
	<select id="selectCoffeeInfo" resultMap="coffeeResultSet">
		SELECT
			CF_NO,
			CF_CATEGORY,
			CF_INAME,
			CF_ICHNAME,
			CF_IPATH,
			CF_NAME,
			CF_PRICE,
			CF_COUNT,
			C_CODE
		FROM 
			COFFEE
		WHERE 
			CF_NO = #{cfNo}
	</select>
	
	
	<update id="updateCoffeInfo" parameterType="Coffee">
	UPDATE
		COFFEE
	SET
		CF_NO = #{cfNo},
		CF_CATEGORY = #{cfCategory},
		CF_INAME = #{cfIname},
		CF_ICHNAME = #{cfIchname},
		CF_IPATH = #{chIpath},
		CF_NAME = #{cfName},
		CF_PRICE = #{cfPrice},
		CF_COUNT = #{cfCount},
		C_CODE = #{caNo}
	WHERE
		CF_NO = #{cfNo}
	</update>
	
	<delete id="coffeeDelete" parameterType="Coffee">
	DELETE
	FROM COFFEE
	WHERE CF_NO = #{cfNo}
	</delete>
	
	<update id="cafeDelete" parameterType="Cafe">
	UPDATE
		CAFE
	SET C_STATUS = 'N'
	WHERE C_CODE = #{caCode}
	</update>
	
	<!-- 사용자 -->
	<select id="cafeMainList" resultMap="cafeResultSet">
		SELECT
		    C_CODE,
		    C_NAME,
		    C_ADDRESS,
		    C_LA,
		    C_LO,
		    ID,
		    STARTTIME,
		    C_WIFI,
		    C_TOILET,
		    C_PARKING,
		    C_MESSAGE,
		    ENDTIME,
		    MAINPHOTO,
		    PHOTO1,
		    PHOTO2,
		    PHOTO3
		FROM CAFE
		WHERE C_STATUS = 'Y'
		ORDER BY C_CODE DESC
	</select>
	
	<select id="searchCafeDetail" resultMap="cafeResultSet">
		SELECT
			C_CODE,
		    C_NAME,
		    C_ADDRESS,
		    C_LA,
		    C_LO,
		    ID,
		    STARTTIME,
		    C_WIFI,
		    C_TOILET,
		    C_PARKING,
		    C_MESSAGE,
		    ENDTIME,
		    MAINPHOTO,
		    PHOTO1,
		    PHOTO2,
		    PHOTO3
		FROM 
			CAFE
		WHERE 
			C_CODE = #{caCode}
	</select>
	
	<!-- 카페 매장 예약 -->
	<insert id="insertHereRes" parameterType="CafeRes">
	INSERT
	INTO CARES
	(
		C_RES,
        C_RES_TYPE,
        C_RES_DATE,
        C_RES_PER,
        C_CODE,
        ID,
        C_RES_ING,
        C_HERETIME,
        C_GOTIME,
        C_DATE
	)
	VALUES
    (
        'CAR' || CA_RES.NEXTVAL,
        '매장',
        #{caResDate},
        #{caResPer},
        #{caNo},
        #{userId},
        DEFAULT,
        #{caResHereTime},
        NULL,
        SYSDATE
    )
	</insert>
	
	<!-- 카페 포장 예약 -->
	<insert id="insertTogoRes" parameterType="CafeRes">
	INSERT
	INTO CARES
	(
		C_RES,
        C_RES_TYPE,
        C_RES_DATE,
        C_RES_PER,
        C_CODE,
        ID,
        C_RES_ING,
        C_HERETIME,
        C_GOTIME,
        C_DATE
	)
	VALUES
    (
        'CAR' || CA_RES.NEXTVAL,
        '포장',
        #{caResDate},
        #{caResPer},
        #{caNo},
        #{userId},
        DEFAULT,
        NULL,
        #{caResGoTime},
        DEFAULT
    )
	</insert>
	
	<select id="coffeeBeverage" resultMap="coffeeResultSet">
	SELECT
    	CF_NO,
	    CF_CATEGORY,
	    CF_INAME,
	    CF_ICHNAME,
	    CF_IPATH,
	    CF_NAME,
	    CF_PRICE,
	    CF_COUNT,
	    C_CODE
	FROM COFFEE
	WHERE C_CODE = #{caCode}
	ORDER BY CF_CATEGORY DESC
	</select>
	
	<select id="hereTogoInfo" resultMap="cafeResResultSet">
	SELECT
		C_RES,
		C_RES_TYPE,
		C_RES_DATE,
		C_RES_PER,
		C_CODE,
		ID,
		C_RES_ING,
		C_HERETIME,
		C_GOTIME,
		C_DATE
    FROM (
    SELECT * FROM CARES
    WHERE ID = #{id}
    ORDER BY C_DATE DESC)
    WHERE ROWNUM = 1
	</select>
	
	<insert id="coResInsert" parameterType="CoffeeRes">
	INSERT 
	INTO CORES
	(
		CF_RES,
		CF_RES_HI,
		CF_RES_CAP,
		CF_RES_CUP,
		C_RES,
		CF_AMOUNT,
		CF_NO
	)
	VALUES
	(
		'COR' || CO_RES.NEXTVAL,
		#{cfResHI},
		#{cfResCap},
		#{cfResCup},
		#{caResNo},
		#{cfResAmount},
		#{cfNo}
	)
	</insert>
	
	<select id="coResBasket" resultMap="coffeeCartResultSet">
	SELECT  CF_RES,
            CF_RES_HI,
            CF_RES_CAP,
            CF_RES_CUP,
            COR.C_RES,
            CF_AMOUNT,
            COR.CF_NO,
            CO.CF_ICHNAME,
            CO.CF_NAME,
            CO.CF_PRICE,
            CO.CF_COUNT,
            CAR.C_RES_DATE,
            CAR.C_RES_TYPE,
            CAR.C_HERETIME,
            CAR.C_GOTIME,
            CAR.ID
	FROM CORES COR, COFFEE CO, CARES CAR
	WHERE COR.CF_NO = CO.CF_NO
	AND COR.C_RES = CAR.C_RES
    AND  COR.C_RES = #{caResNo}
	AND CAR.ID = #{id}
	</select>
	
	<select id="coOrder" resultMap="coffeeCartResultSet">
		SELECT 
		    CF_RES,
		    CF_RES_HI,
		    CF_RES_CAP,
		    CF_RES_CUP,
		    C_RES,
		    CF_AMOUNT,
		    COR.CF_NO,
		    CF_ICHNAME,
		    CF_NAME,
		    CF_PRICE
		FROM CORES COR, COFFEE CO
		WHERE COR.CF_NO = CO.CF_NO
		AND C_RES = #{caResNo}
	</select>
	 
	<insert id="cafeReport" parameterType="Report">
	INSERT 
	INTO REPORT
	(
		REPORT_NO,
		REPORT_TYPE,
		REPORT_REASON,
		ISWARNED,
		ISCHECKED,
		IMGNAME,
		IMGPATH,
		IMGCHNAME,
		REPORTER_ID,
		ITEM_CODE,
		REPORTEE_ID
	)
	VALUES
	(
		'CARP' || CARP.NEXTVAL,
		#{reportType},
		#{reportReason},
		DEFAULT,
		DEFAULT,
		NULL,
		NULL,
		NULL,
		#{reporterId},
		#{itemCode},
		NULL
	)
	</insert> 
	
	<!-- 카페 검색 -->
	<select id="cafeSearch" parameterType="Search" resultMap="cafeResultSet">
	<bind name="sv" value="'%' + _parameter.getSearchValue() + '%'"/>  
	SELECT
		    C_CODE,
		    C_NAME,
		    C_ADDRESS,
		    C_LA,
		    C_LO,
		    ID,
		    STARTTIME,
		    C_WIFI,
		    C_TOILET,
		    C_PARKING,
		    C_MESSAGE,
		    ENDTIME,
		    MAINPHOTO,
		    PHOTO1,
		    PHOTO2,
		    PHOTO3
		FROM CAFE
		WHERE C_STATUS = 'Y'
		AND C_NAME LIKE '%' || #{sv} || '%'
		OR 	C_ADDRESS LIKE '%' || #{sv} || '%'
		ORDER BY C_CODE DESC
	</select>
	
	<!-- 커피 페이징 처리 -->
	 <select id="cafeCoffeeCount" resultType="_int">
      SELECT 
            COUNT(*)
          FROM
               COFFEE 
         WHERE
               C_CODE = #{caCode}
    </select>
    
    <!-- 카페 예약 리스트 보기(사업자) -->
    <select id="selectCafeResList" resultMap="cafeResResultSet">
    SELECT
		C_RES,
		C_RES_TYPE,
		C_RES_DATE,
		C_RES_PER,
		(SELECT C_CODE
		FROM CAFE
		WHERE ID = #{Id}),
		CAR.ID,
		C_HERETIME,
		C_GOTIME
	FROM CARES CAR
    INNER JOIN CAFE C ON(CAR.C_CODE = C.C_CODE)
    WHERE C.ID = #{Id}
    </select>
    
    <!-- 카페 주문 리스트 보기(사업자) -->
    <select id="selectOrderList" resultMap="cafeOrderResultSet">
    SELECT
	    CAR.C_RES,
	    CAR.C_RES_TYPE,
	    CAR.C_RES_DATE,
	    CAR.C_CODE,
	    CAR.ID,
	    CAR.C_RES_ING,
	    CAR.C_HERETIME,
	    CAR.C_GOTIME,
	    CO.CF_NAME,
	    M.NAME,
	    M.PHONE
	FROM CARES CAR
	INNER JOIN CORES COR ON(COR.C_RES = CAR.C_RES)
	INNER JOIN COFFEE CO ON(CO.CF_NO = COR.CF_NO)
	INNER JOIN MEMBER M ON(CAR.ID = M.ID)
	WHERE CAR.C_CODE = (SELECT C_CODE FROM CAFE WHERE ID = #{Id})
	AND CAR.C_RES_DATE = SYSDATE
	ORDER BY CAR.C_RES_DATE, CAR.C_HERETIME, CAR.C_GOTIME
    </select>
    
    <update id="coffeeStatus" parameterType="CafeRes">
    UPDATE
			CARES
		SET
			C_RES_ING = #{caResIng}
	WHERE C_RES = #{caResNo}
    </update>
    
    <!-- 변경된 날짜 번호 구하기 -->
   <select id="selectOrderCount" resultType="_int">
   SELECT 
            COUNT(*)
          FROM
               CARES CAR
    INNER JOIN CORES COR ON(COR.C_RES = CAR.C_RES)
	INNER JOIN COFFEE CO ON(CO.CF_NO = COR.CF_NO)
	INNER JOIN MEMBER M ON(CAR.ID = M.ID)
	WHERE CAR.C_CODE = (SELECT C_CODE FROM CAFE WHERE ID = #{id})
	AND CAR.C_RES_DATE = #{checkDate}
	ORDER BY CAR.C_RES_DATE, CAR.C_HERETIME, CAR.C_GOTIME
   </select>
    
     <!-- 카페 날짜 별 주문 리스트 보기(사업자) -->
    <select id="orderDate" resultMap="cafeOrderResultSet">
    SELECT
	    CAR.C_RES,
	    CAR.C_RES_TYPE,
	    CAR.C_RES_DATE,
	    CAR.C_CODE,
	    CAR.ID,
	    CAR.C_RES_ING,
	    CAR.C_HERETIME,
	    CAR.C_GOTIME,
	    CO.CF_NAME,
	    M.NAME,
	    M.PHONE
	FROM CARES CAR
	INNER JOIN CORES COR ON(COR.C_RES = CAR.C_RES)
	INNER JOIN COFFEE CO ON(CO.CF_NO = COR.CF_NO)
	INNER JOIN MEMBER M ON(CAR.ID = M.ID)
	WHERE CAR.C_CODE = (SELECT C_CODE FROM CAFE WHERE ID = #{id})
	AND CAR.C_RES_DATE = #{checkDate}
	ORDER BY CAR.C_RES_DATE, CAR.C_HERETIME, CAR.C_GOTIME
    </select>
   
   	
   
</mapper>