<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cafeMapper">
	<resultMap id="cafeResultSet" type="Cafe">
		<id property="caCode" column="C_CODE"/>
		<result property="caName" column="C_NAME"/>
		<result property="caOwner" column="C_OWNER"/>
		<result property="caNumber" column="C_NUMBER"/>
		<result property="caAddress" column="C_ADDRESS"/>
		<result property="caStatus" column="C_STATUS"/>
		<result property="caLa" column="C_LA"/>
		<result property="caLo" column="C_LO"/>
		<result property="caId" column="ID"/>	
		<result property="caStartTime" column="STARTTIME"/>
		<result property="wifi" column="C_WIFI"/>
		<result property="toilet" column="C_TOILET"/>
		<result property="parking" column="C_PARKING"/>
		<result property="message" column="C_MESSAGE"/>
		<result property="caEndTime" column="ENDTIME"/>
		<result property="mainPhoto" column="MAINPHOTO"/>
		<result property="photo1" column="PHOTO1"/>
		<result property="photo2" column="PHOTO2"/>
		<result property="photo3" column="PHOTO3"/>
	</resultMap>
	
	<resultMap id="coffeeResultSet" type="Coffee">
		<id property="cfNo" column="CF_NO"/>
		<result property="cfCategory" column="CF_CATEGORY"/>
		<result property="cfIname" column="CF_INAME"/>
		<result property="cfIchname" column="CF_ICHNAME"/>
		<result property="chIpath" column="CF_IPATH"/>
		<result property="cfName" column="CF_NAME"/>
		<result property="cfPrice" column="CF_PRICE"/>
		<result property="cfCount" column="CF_COUNT"/>	
		<result property="caNo" column="C_CODE"/>		
	</resultMap>
	
<!-- 	<resultMap id="cafePhotoResultSet" type="Caphoto">
		<id property="caINo" column="C_INO"/>
		<result property="caIName" column="C_INAME"/>
		<result property="caIchName" column="C_ICHNAME"/>
		<result property="caIType" column="C_ITYPE"/>
		<result property="caCode" column="C_CODE"/>
	</resultMap> -->


	<resultMap id="cafeResResultSet" type="CafeRes">
		<id property="caResNo" column="C_RES"/>
		<result property="caResType" column="C_RES_TYPE"/>
		<result property="caResDate" column="C_RES_DATE"/>
		<result property="caResPer" column="C_RES_PER"/>
		<result property="caNo" column="C_CODE"/>
		<result property="userId" column="ID"/>
		<result property="caResIng" column="C_RES_ING"/>
		<result property="caResHereTime" column="C_HERETIME"/>	
		<result property="caResGoTime" column="C_GOTIME"/>		
	</resultMap>
	
	<!-- 입력을 위한 카페 정보 가져오기 -->
	<select id="selectCafeWrite" resultMap="cafeResultSet">
	SELECT	
		C_CODE,
        C_NAME,
        C_OWNER,
        C_NUMBER,
        C_ADDRESS,
        C_STATUS,
        C_LA,
        C_LO,
        ID
    FROM CAFE
    WHERE ID = #{Id}
	</select>
	
	<!-- 카페 정보 입력 -->
	<insert id="insertCafeInfo" parameterType="Cafe">
	INSERT
	INTO CAFE
	(
		C_CODE,
        C_NAME,
        C_OWNER,
        C_NUMBER,
        C_ADDRESS,
        C_STATUS,
        C_LA,
        C_LO,
        ID,
        STARTTIME,
        C_WIFI,
        C_TOILET,
        C_PARKING,
        C_MESSAGE,
        ENDTIME,
        MAINPHOTO,
        PHOTO1,
        PHOTO2,
        PHOTO3
	)
	VALUES
	(
        'CA' || CA.NEXTVAL,
        #{caName},
        '최준',
        '111-22-3333',
        #{caAddress},
        DEFAULT,
        #{caLa},
        #{caLo},
        #{caId},
        #{caStartTime},
        #{wifi},
        #{toilet},
        #{parking},
        #{message},
        #{caEndTime},
        #{mainPhoto},
        #{photo1},
        #{photo2},
        #{photo3}
	)
	</insert>
	
	
	<select id="selectCafeList" resultMap="cafeResultSet">
		SELECT
		    C_CODE,
		    C_NAME,
		    C_ADDRESS,
		    C_LA,
		    C_LO,
		    ID,
		    STARTTIME,
		    C_WIFI,
		    C_TOILET,
		    C_PARKING,
		    C_MESSAGE,
		    ENDTIME,
		    MAINPHOTO,
		    PHOTO1,
		    PHOTO2,
		    PHOTO3
		FROM CAFE
		WHERE ID = #{Id}
		AND C_STATUS = 'Y'
		ORDER BY C_CODE DESC
	</select>
	
	<select id="selectCafeInfo" resultMap="cafeResultSet">
		SELECT
			C_CODE,
		    C_NAME,
		    C_ADDRESS,
		    C_LA,
		    C_LO,
		    ID,
		    STARTTIME,
		    C_WIFI,
		    C_TOILET,
		    C_PARKING,
		    C_MESSAGE,
		    ENDTIME,
		    MAINPHOTO,
		    PHOTO1,
		    PHOTO2,
		    PHOTO3
		FROM 
			CAFE
		WHERE 
			C_CODE = #{caCode}
	</select>
	
	<update id="updateCafeInfo" parameterType="Cafe">
	UPDATE
		CAFE
	SET
		C_NAME = #{caName},
	    C_ADDRESS = #{caAddress},
	    C_LA = #{caLa},
	    C_LO = #{caLo},
	    C_STATUS = 'Y',
	    STARTTIME = #{caStartTime},
	    C_WIFI = #{wifi},
	    C_TOILET= #{toilet},
	    C_PARKING = #{parking},
	    C_MESSAGE = #{message},
	    ENDTIME = #{caEndTime},
	    MAINPHOTO = #{mainPhoto},
	    PHOTO1 = #{photo1},
	    PHOTO2 = #{photo2},
	    PHOTO3 = #{photo3}
	WHERE
		C_CODE = #{caCode}
	</update>
	
	<select id="selectCoffeeList" resultMap="coffeeResultSet">
	SELECT
    	CF_NO,
	    CF_CATEGORY,
	    CF_INAME,
	    CF_ICHNAME,
	    CF_IPATH,
	    CF_NAME,
	    CF_PRICE,
	    CF_COUNT,
	    CO.C_CODE
	FROM COFFEE CO
	FULL OUTER JOIN CAFE CA
	ON CO.C_CODE = CA.C_CODE
	WHERE 
				CA.C_CODE = #{caCode}
	ORDER BY CF_NO DESC
	</select>
	
	<insert id="insertCoffee" parameterType="Coffee">
	INSERT 
	INTO COFFEE
	(
		CF_NO,
		CF_CATEGORY,
		CF_INAME,
		CF_ICHNAME,
		CF_IPATH,
		CF_NAME,
		CF_PRICE,
		CF_COUNT,
		C_CODE
	)
	VALUES
	(
		'CO' || CO.NEXTVAL,
		#{cfCategory},
		#{cfIname},
		#{cfIchname},
		#{chIpath},
		#{cfName},
		#{cfPrice},
		#{cfCount},
		#{caNo}
	)
	</insert>
	
	<select id="selectCoffeeInfo" resultMap="coffeeResultSet">
		SELECT
			CF_NO,
			CF_CATEGORY,
			CF_INAME,
			CF_ICHNAME,
			CF_IPATH,
			CF_NAME,
			CF_PRICE,
			CF_COUNT,
			C_CODE
		FROM 
			COFFEE
		WHERE 
			CF_NO = #{cfNo}
	</select>
	
	
	<update id="updateCoffeInfo" parameterType="Coffee">
	UPDATE
		COFFEE
	SET
		CF_NO = #{cfNo},
		CF_CATEGORY = #{cfCategory},
		CF_INAME = #{cfIname},
		CF_ICHNAME = #{cfIchname},
		CF_IPATH = #{chIpath},
		CF_NAME = #{cfName},
		CF_PRICE = #{cfPrice},
		CF_COUNT = #{cfCount},
		C_CODE = #{caNo}
	WHERE
		CF_NO = #{cfNo}
	</update>
	
	<delete id="coffeeDelete" parameterType="Coffee">
	DELETE
	FROM COFFEE
	WHERE CF_NO = #{cfNo}
	</delete>
	
	<update id="cafeDelete" parameterType="Cafe">
	UPDATE
		CAFE
	SET C_STATUS = 'N'
	WHERE C_CODE = #{caCode}
	</update>
	
	<!-- 사용자 -->
	<select id="cafeMainList" resultMap="cafeResultSet">
		SELECT
		    C_CODE,
		    C_NAME,
		    C_ADDRESS,
		    C_LA,
		    C_LO,
		    ID,
		    STARTTIME,
		    C_WIFI,
		    C_TOILET,
		    C_PARKING,
		    C_MESSAGE,
		    ENDTIME,
		    MAINPHOTO,
		    PHOTO1,
		    PHOTO2,
		    PHOTO3
		FROM CAFE
		WHERE C_STATUS = 'Y'
		ORDER BY C_CODE DESC
	</select>
	
	<select id="searchCafeDetail" resultMap="cafeResultSet">
		SELECT
			C_CODE,
		    C_NAME,
		    C_ADDRESS,
		    C_LA,
		    C_LO,
		    ID,
		    STARTTIME,
		    C_WIFI,
		    C_TOILET,
		    C_PARKING,
		    C_MESSAGE,
		    ENDTIME,
		    MAINPHOTO,
		    PHOTO1,
		    PHOTO2,
		    PHOTO3
		FROM 
			CAFE
		WHERE 
			C_CODE = #{caCode}
	</select>
	
	<!-- 카페 매장 예약 -->
	<insert id="insertHereRes" parameterType="CafeRes">
	INSERT
	INTO CARES
	(
		C_RES,
        C_RES_TYPE,
        C_RES_DATE,
        C_RES_PER,
        C_CODE,
        ID,
        C_RES_ING,
        C_HERETIME,
        C_GOTIME
	)
	VALUES
    (
        'CARES' || CA_RES.NEXTVAL,
        '매장',
        #{caResDate},
        #{caResPer},
        'CA5',
        'user01',
        DEFAULT,
        #{caResHereTime},
        NULL
    )
	</insert>
	
	<!-- 카페 포장 예약 -->
	<insert id="insertTogoRes" parameterType="CafeRes">
	INSERT
	INTO CARES
	(
		C_RES,
        C_RES_TYPE,
        C_RES_DATE,
        C_RES_PER,
        C_CODE,
        ID,
        C_RES_ING,
        C_HERETIME,
        C_GOTIME
	)
	VALUES
    (
        'CARES' || CA_RES.NEXTVAL,
        '포장',
        #{caResDate},
        #{caResPer},
        'CA5',
        'user01',
        DEFAULT,
        NULL,
        #{caResGoTime}
    )
	</insert>
	
	
	 
</mapper>