<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cartMapper">
		<resultMap id="cartResultSet" type="Cart">
			<id property="cartNo" column="CART_NO"/>
			<result property="cartName" column="CART_NAME"/>
			<result property="cartPrice" column="CART_PRICE"/>
			<result property="cartCount" column="CART_COUNT"/>
			<result property="cartRes" column="CART_RES"/>
			<result property="shipFee" column="SHIP_FEE"/>
			<result property="classNo" column="CLASS_NO"/>
			<result property="userId" column="ID"/>
			<result property="purchaseNo" column="PURCHASE_NO"/>
			<result property="cres" column="C_RES"/>
			<result property="photoName" column="PHOTONAME"/>
			<result property="today" column="TODAY"/>
			<result property="clTime" column="CL_TIME"/>
		</resultMap>

		<resultMap id="cartCouponResultSet" type="Cart_Coupon">
			<id property="couponCode" column="COUPON_CODE"/>
			<result property="id" column="ID"/>
			<result property="couponName" column="COUPON_NAME"/>
			<result property="limit" column="LIMIT"/>
			<result property="issuedBy" column="ISSUEDBY"/>
			<result property="issuedDate" column="ISSUEDATE"/>
			<result property="expDate" column="EXPDATE"/>
			<result property="isUsed" column="ISUSED"/>
		</resultMap>
		
		<resultMap id="cartPaymentResultSet" type="Cart_Payment">
			<id property="payNo" column="PAY_NO"/>
			<result property="payItem" column="PAY_ITEM"/>
			<result property="payPrice" column="PAY_PRICE"/>
			<result property="subscribe" column="SUBSCRIBE"/>
			<result property="payDate" column="PAY_DATE"/>
			<result property="buyId" column="BUYER_ID"/>
			<result property="cafeRes" column="CAFE_RES"/>
			<result property="adCode" column="AD_CODE"/>
			<result property="purchaseNumber" column="PURCHASE_NUMBER"/>
			<result property="subscribeCode" column="SUBSCRIBE_CODE"/>
			<result property="clPayNo" column="CL_PAY_NO"/>
			<result property="payDC" column="PAY_DC"/>
			<result property="payTotal" column="PAY_TOTAL"/>
			<result property="clTime" column="CL_TIME"/>
		</resultMap>
	
		<!-- 카페 예약 정보 장바구니에 입력 -->
		<insert id="insertCafeCart" parameterType="Cart">
			INSERT
			INTO CART
			(
				CART_NO,
				CART_NAME,
				CART_PRICE,
				CART_COUNT,
				CART_RES,
				SHIP_FEE,
				CLASS_NO,
				ID,
				PURCHASE_NO,
				C_RES,
				PHOTONAME,
				TODAY,
				CL_TIME
			)
			VALUES
			(
				'CAT'|| CAT.NEXTVAL,
				(
                    SELECT C_NAME
                    FROM CAFE
                    WHERE C_CODE = #{cartName}
                ),
				#{cartPrice},
				0,
				#{cartRes},
				0,
				null,
				#{userId},
				null,
				#{cres},
				(
                    SELECT MAINPHOTO
                    FROM CAFE
                    WHERE C_CODE = #{cartName}
                ),
				SYSDATE,
				NULL
			)
		</insert>
		
		<select id="cartSelectList" resultMap="cartResultSet">
		SELECT
				CART_NO,
				CART_NAME,
				CART_PRICE,
				CART_COUNT,
				CART_RES,
				SHIP_FEE,
				CLASS_NO,
				ID,
				PURCHASE_NO,
				C_RES,
				PHOTONAME,
				TODAY,
				CL_TIME
		FROM CART
		WHERE ID = #{id}
		ORDER BY TODAY DESC
		</select>
	
		<select id="couponSelectList" resultMap ="cartCouponResultSet">
			SELECT
			    COUPON_CODE,
			    ID,
			    COUPON_NAME,
			    LIMIT,
			    ISSUEDBY,
			    ISSUEDATE,
			    EXPDATE,
			    ISUSED
			FROM COUPON
			WHERE ID = #{id}
			AND ISUSED = 'N'
		</select>
	
		<!-- 카페 결제 정보 insert -->
		<insert id="cafeCartPayment" parameterType="Cart_Payment">
			INSERT
			INTO PAYMENT
			(
				PAY_NO,
				PAY_ITEM,
				PAY_PRICE,
				SUBSCRIBE,
				PAY_DATE,
				BUYER_ID,
				CAFE_RES,
				AD_CODE,
				PURCHASE_NUMBER,
				SUBSCRIBE_CODE,
				CL_PAY_NO,
				PAY_DC,
				PAY_TOTAL,
				CL_TIME
			)
			VALUES
			(
				'CAP'|| CAP.NEXTVAL,
				#{payItem},
				#{payPrice},
				NULL,
				SYSDATE,
				#{buyId},
				#{cafeRes},
				NULL,
				NULL,
				NULL,
				NULL,
				#{payDC},
				#{payTotal},
				NULL
			)
		</insert>
		
		<!-- 장바구니  스토어 결제 정보 insert -->
		<insert id="CartPayment" parameterType="Cart_Payment">
			INSERT
			INTO PAYMENT
			(
				PAY_NO,
				PAY_ITEM,
				PAY_PRICE,
				SUBSCRIBE,
				PAY_DATE,
				BUYER_ID,
				CAFE_RES,
				AD_CODE,
				PURCHASE_NUMBER,
				SUBSCRIBE_CODE,
				CL_PAY_NO,
				PAY_DC,
				PAY_TOTAL,
				CL_TIME
			)
			VALUES
			(
				'STP'|| STP.NEXTVAL,
				(SELECT
				    CART_NAME
				FROM 
				    CART
				    WHERE
				    PURCHASE_NO = #{payItem}),
				(SELECT
				    CART_PRICE
				FROM 
				    CART
				    WHERE
				    PURCHASE_NO = #{payPrice}),
				NULL,
				SYSDATE,
				(SELECT
				   ID
				FROM 
				    CART
				    WHERE
				    PURCHASE_NO = #{buyId}),
				NULL,
				NULL,
				#{purchaseNumber},
				NULL,
				NULL,
			    NULL,
				#{payTotal},
				NULL
			)
		</insert>
		
		<!-- 장바구니  카페 결제 정보 insert -->
		<insert id="CartPayment2" parameterType="Cart_Payment">
			INSERT
			INTO PAYMENT
			(
				PAY_NO,
				PAY_ITEM,
				PAY_PRICE,
				SUBSCRIBE,
				PAY_DATE,
				BUYER_ID,
				CAFE_RES,
				AD_CODE,
				PURCHASE_NUMBER,
				SUBSCRIBE_CODE,
				CL_PAY_NO,
				PAY_DC,
				PAY_TOTAL,
				CL_TIME
			)
			VALUES
			(
				'CAP'|| CAP.NEXTVAL,
				(SELECT
				    CART_NAME
				FROM 
				    CART
				    WHERE
				    C_RES = #{payItem}),
				(SELECT
				    CART_PRICE
				FROM 
				    CART
				    WHERE
				   	C_RES = #{payPrice}),
				NULL,
				SYSDATE,
				(SELECT
				   ID
				FROM 
				    CART
				    WHERE
				    C_RES = #{buyId}),
				#{cafeRes},
				NULL,
				NULL,
				NULL,
				NULL,
			    NULL,
				(SELECT
				    CART_PRICE
				FROM 
				    CART
				    WHERE
				    C_RES = #{payTotal}),
				NULL
			)
		</insert>
		
		
	 	<!-- 장바구니  클래스 결제 정보 insert -->
		<insert id="CartPayment3" parameterType="Cart_Payment">
			INSERT
			INTO PAYMENT
			(
				PAY_NO,
				PAY_ITEM,
				PAY_PRICE,
				SUBSCRIBE,
				PAY_DATE,
				BUYER_ID,
				CAFE_RES,
				AD_CODE,
				PURCHASE_NUMBER,
				SUBSCRIBE_CODE,
				CL_PAY_NO,
				PAY_DC,
				PAY_TOTAL,
				CL_TIME
			)
			VALUES
			(
				'CLP'|| CLP.NEXTVAL
				,(SELECT
				    CART_NAME
				FROM 
				    CART
				    WHERE
				    CLASS_NO = #{payItem})
				,
				(SELECT
				    CART_PRICE
				FROM 
				    CART
				    WHERE
				    CLASS_NO = #{payPrice}),
				NULL,
				SYSDATE,
				(SELECT
				   ID
				FROM 
				    CART
				    WHERE
				    CLASS_NO = #{buyId}),
				NULL,
				NULL,
				NULL,
				NULL,
				CLO.CURRVAL,
			    NULL,
				(SELECT
				    CART_PRICE
				FROM 
				    CART
				    WHERE
				    CLASS_NO = #{payTotal}),
				NULL
			)
		</insert>
		
		
		<update id="coponUse" parameterType="Cart_Coupon">
		UPDATE
			COUPON
		SET
			ISUSED = 'Y'
		WHERE COUPON_CODE = #{couponCode}
		</update>
	
		<!-- 스토어 제품 인서트 -->
		<insert id="storeCartInsert" parameterType="Cart">
			INSERT
			INTO CART
			(
				CART_NO,
				CART_NAME,
				CART_PRICE,
				CART_COUNT,
				CART_RES,
				SHIP_FEE,
				CLASS_NO,
				ID,
				PURCHASE_NO,
				C_RES,
				PHOTONAME,
				TODAY,
				CL_TIME
			)
			VALUES
			(
				 CAT.NEXTVAL
				,#{cartName}
				,#{cartPrice}
				,#{cartCount}
				,NULL
				,#{shipFee}
				,NULL
				,#{userId}
				,(SELECT PURCHASE_NUMBER
				FROM
				(SELECT PURCHASE_NUMBER, RANK() OVER(ORDER BY TO_NUMBER(PURCHASE_NUMBER) DESC) AS RNUM
				FROM PR_PAY_WHICH)
				WHERE RNUM = 1)
				,NULL
				,(
                    SELECT STORE_PHOTO1
                    FROM PRODUCT
                    WHERE PR_NAME = #{cartName}
                )
				,SYSDATE
				,NULL
			)
		</insert>
		

		<!-- 장바구니 선택삭세지  -->
		<delete id="deleteCart" parameterType="Cart">
		DELETE
		FROM CART
		WHERE 
			CART_NO = #{sT}
		</delete>
	 
		<delete id="deleteCart1" parameterType="Cart">
		DELETE
		FROM CART
		WHERE 
			PURCHASE_NO = #{purchaseNo}
		</delete>
		
		
		<delete id="deleteCart2" parameterType="Cart">
		DELETE
		FROM CART
		WHERE 
			C_RES = #{cres}
		</delete>
		
		<delete id="deleteCart3" parameterType="Cart">
		DELETE
		FROM CART
		WHERE 
			CLASS_NO= #{classNo}
		</delete>
		
		<!-- 컬럼 수 조회하기 -->
		<select id="cartNum" resultType="_int">
		SELECT COUNT(*)
		FROM CART
		WHERE ID = #{id}
		</select>

		<!-- 클래스 장바구니(카트) -->
		<insert id="classCart" parameterType="Cart">
		INSERT
			INTO CART
			(
				CART_NO,
				CART_NAME,
				CART_PRICE,
				CART_COUNT,
				CART_RES,
				SHIP_FEE,
				CLASS_NO,
				ID,
				PURCHASE_NO,
				C_RES,
				PHOTONAME,
				TODAY,
				CL_TIME
			)
			VALUES
			(
				  'CAT'|| CAT.NEXTVAL
				, #{cartName}
				, #{cartPrice}
				, 1
				, NULL
				, NULL
				, #{classNo}
				, #{userId}
				, NULL
				, NULL
				,(
					SELECT CL_THUMBNAIL
					FROM COFFEECLASS
					WHERE CLASS_NO = #{classNo}
                ),
				SYSDATE,
				#{clTime}
			)
		
		</insert>
	<insert id="insertClOrder" parameterType="string">
		INSERT
		  INTO
		       CL_ORDER
		  (
		       CL_PAY_NO
		     , CLASS_NO
		  )
		VALUES
		(
		       CLO.NEXTVAL
		     , #{classNo}
		)
	</insert>
	
	
	
	
	
	
	
	
		<!-- 장바구니 결제 성공 시 장바구니 비우기 -->
		<delete id="successCart" parameterType="Cart">
		DELETE
		FROM CART
		WHERE ID = #{id}
		</delete>
		
</mapper>