<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clMapper">
	<resultMap id="clResultSet" type="CoffeeClass" >
		<id property="classNo" column="CLASS_NO"/>
		<result property="busNo" column="BUS_NO"/>
		<result property="cafeNo" column="C_CODE"/>
		<result property="className" column="CL_NAME"/>
		<result property="clShortDes" column="CL_SHORTDES"/>
		<result property="classDes" column="CL_DES"/>
		<result property="trName" column="TR_NAME"/>
		<result property="trIntro" column="TR_INTRO"/>
		<result property="classCurri" column="CL_CURI"/>
		<result property="studentMax" column="CL_MAX"/>
		<result property="classDate" column="CL_DATE"/>
		<result property="classTime" column="CL_TIME"/>
		<result property="classTime2" column="CL_TIME2"/>
		<result property="classTime3" column="CL_TIME3"/>
		<result property="classLoca" column="CL_LOCA"/>
		<result property="clPrice" column="CL_PRICE"/>
		<result property="classLvl" column="CL_LEVEL"/>
		<result property="clRuntime" column="CL_RUNTIME"/>
		<result property="blind" column="BLIND"/>
		<result property="status" column="CL_STATUS"/>
		<result property="clThumbnail" column="CL_THUMBNAIL"/>
		<result property="trPhoto" column="TR_PHOTO"/>
		<result property="clPhoto" column="CLASS_PHOTO"/>
		<result property="clWriter" column="CL_WRITER"/>
		<result property="rpReason" column="REPORT_TYPE"/>
		<result property="rpDeets" column="REPORT_REASON"/>
		<result property="category" column="CL_CATEGORY"/>
	</resultMap>
	<resultMap id="cafeResultSet" type="Cafe">
		<id property="caCode" column="C_CODE"/>
		<result property="caName" column="C_NAME"/>
		<result property="caOwner" column="C_OWNER"/>
		<result property="caNumber" column="C_NUMBER"/>
		<result property="caAddress" column="C_ADDRESS"/>
		<result property="caStatus" column="C_STATUS"/>
		<result property="caLa" column="C_LA"/>
		<result property="caLo" column="C_LO"/>
		<result property="caId" column="ID"/>	
		<result property="caStartTime" column="STARTTIME"/>
		<result property="wifi" column="C_WIFI"/>
		<result property="toilet" column="C_TOILET"/>
		<result property="parking" column="C_PARKING"/>
		<result property="message" column="C_MESSAGE"/>
		<result property="caEndTime" column="ENDTIME"/>
		<result property="mainPhoto" column="MAINPHOTO"/>
		<result property="photo1" column="PHOTO1"/>
		<result property="photo2" column="PHOTO2"/>
		<result property="photo3" column="PHOTO3"/>
	</resultMap>
	<resultMap id="qnaResultSet" type="ClassQnA">
		<result property="qnaNo" column="CL_QNA_NO"/>
		<result property="classNo" column="CLASS_NO"/>
		<result property="question" column="CL_QUESTION"/>
		<result property="userId" column="USER_ID"/>
		<result property="askDate" column="CL_ASKDATE"/>
		<result property="answer" column="CL_ANSWER"/>
		<result property="answerDate" column="CL_ANS_DATE"/>
		<result property="status" column="CL_STATUS"/>
	</resultMap>
	<!-- 조회수증가-->
	<select id="selectListCount" resultType="_int">
		SELECT
				COUNT(*)
		  FROM 
		  		COFFEECLASS
		 WHERE
		 		CL_STATUS='Y'
	</select>
	<!-- 메인페이지 불러오기 -->
	<select id="selectList" resultMap="clResultSet">
		SELECT 
				  CLASS_NO
				, C_CODE
				, CL_NAME
				, CL_DES
				, TR_NAME
				, TR_INTRO
				, CL_CURI
				, CL_MAX
				, CL_DATE
				, CL_LOCA
				, CL_PRICE
				, BLIND
				, CL_STATUS
				, BUS_NO
				, CL_SHORTDES
				, CL_TIME
				, CL_LEVEL
				, CL_RUNTIME
				, CL_THUMBNAIL
				, TR_PHOTO
				, CLASS_PHOTO
				, CL_WRITER
		 FROM 
				COFFEECLASS
		WHERE	
				CL_STATUS='Y'
	 ORDER BY
				CLASS_NO DESC
	</select>
	<insert id="insertClass" parameterType="CoffeeClass">	<!-- insert라 리턴타입없음 -->
	   INSERT
	   	 INTO	COFFEECLASS
	   	 (
				  CLASS_NO
				, C_CODE
				, CL_NAME
				, CL_DES
				, TR_NAME
				, TR_INTRO
				, CL_CURI
				, CL_MAX
				, CL_DATE
				, CL_LOCA
				, CL_PRICE
				, BLIND
				, CL_STATUS
				, BUS_NO
				, CL_SHORTDES
				, CL_TIME
				, CL_TIME2
				, CL_TIME3
				, CL_LEVEL
				, CL_RUNTIME
				, CL_THUMBNAIL
				, TR_PHOTO
				, CLASS_PHOTO
				, CL_WRITER
				, CL_CATEGORY
	   	 )
	    VALUES
	    (
	    		  'CL' || CL.NEXTVAL
	    		, #{cafeNo}
	    		, #{className}
	    		, #{classDes}
	    		, #{trName}
	    		, #{trIntro}
	    		, #{classCurri}
	    		, #{studentMax}
	    		, #{classDate}
	    		, #{classLoca}
	    		, #{clPrice}
	    		, DEFAULT
	    		, DEFAULT
	    		, #{busNo}
	    		, #{clShortDes}
	    		, #{classTime}
	    		, #{classTime2}
	    		, #{classTime3}
	    		, #{classLvl}
	    		, #{clRuntime} 
	    		, #{clThumbnail}
	    		, #{trPhoto}
	    		, #{clPhoto}
	    		, #{clWriter}
	    		, #{category}
	    )

	</insert>
	<!-- 클래스 상세 불러오기 -->
	<!-- parameterType="_String"를 넣어야하나? 이게 맞나? -->
	<select id="selectClass" resultMap="clResultSet">
	SELECT 
				  CLASS_NO
				, C_CODE
				, CL_NAME
				, CL_DES
				, TR_NAME
				, TR_INTRO
				, CL_CURI
				, CL_MAX
				, CL_DATE
				, CL_LOCA
				, CL_PRICE
				, BLIND
				, CL_STATUS
				, BUS_NO
				, CL_SHORTDES
				, CL_TIME
				, CL_TIME2
				, CL_TIME3
				, CL_LEVEL
				, CL_RUNTIME
				, CL_THUMBNAIL
				, TR_PHOTO
				, CLASS_PHOTO
				, CL_WRITER
		 FROM 
				COFFEECLASS
		WHERE	
				CLASS_NO = #{classNo}
	 ORDER BY
				CLASS_NO DESC
	</select>
	<!-- update시 정보 불러오는 코드 -->
	<select id = "bringClass" resultMap="clResultSet">
		SELECT 
				  CLASS_NO
				, C_CODE
				, CL_NAME
				, CL_DES
				, TR_NAME
				, TR_INTRO
				, CL_CURI
				, CL_MAX
				, CL_DATE
				, CL_LOCA
				, CL_PRICE
				, BLIND
				, CL_STATUS
				, BUS_NO
				, CL_SHORTDES
				, CL_TIME
				, CL_LEVEL
				, CL_RUNTIME
				, CL_THUMBNAIL
				, TR_PHOTO
				, CLASS_PHOTO
				, CL_WRITER
		 FROM 
				COFFEECLASS
		WHERE	
				CLASS_NO = #{classNo}
	 ORDER BY
				CLASS_NO DESC
	</select>
	<update id = "updateClass" parameterType="CoffeeClass">
	    UPDATE  
	   			COFFEECLASS
	       SET	
				  CL_NAME = #{className}
				, CL_DES  = #{classDes}
				, TR_NAME = #{trName}
				, TR_INTRO= #{trIntro}
				, CL_CURI = #{classCurri}
				, CL_MAX  = #{studentMax}
				, CL_DATE = #{classDate}
				, CL_LOCA = #{classLoca}
				, CL_PRICE= #{clPrice}
				, CL_SHORTDES = #{clShortDes}
				, CL_TIME = #{classTime}
				, CL_LEVEL= #{classLvl}
				, CL_RUNTIME = #{clRuntime}
				, CL_THUMBNAIL = #{clThumbnail}
				, TR_PHOTO = #{trPhoto}
				, CLASS_PHOTO = #{clPhoto}
		 WHERE
		 		CLASS_NO = #{classNo}
	</update>
	<update id ="deleteClass" parameterType="CoffeeClass">
	 	UPDATE  
	   			COFFEECLASS
	       SET	
	       		CL_STATUS = 'D'
	     WHERE
	     		CLASS_NO = #{classNo}
	
	</update>
	<insert id = "reportClass" parameterType="CoffeeClass">
		INSERT
	      INTO    REPORT
	     (
				    REPORT_NO
				  , REPORT_TYPE
				  , REPORT_REASON
				  , ISWARNED
				  , ISCHECKED
				  , REPORTER_ID
				  , ITEM_CODE
	   	 )
	    VALUES
	    (
	    		    'CL' || CL_REPORT_SEQ.NEXTVAL
	    		  , #{rpReason}
	    		  , #{rpDeets}
	    		  , DEFAULT
	    		  , DEFAULT 	
	    		  , #{reporter}
	    		  , #{classNo}
	    )
	  </insert>
	  <insert id = "reportClComment" parameterType="CoffeeClass">
		INSERT
	      INTO    REPORT
	     (
				    REPORT_NO
				  , REPORT_TYPE
				  , REPORT_REASON
				  , ISWARNED
				  , ISCHECKED
				  , REPORTER_ID
				  , ITEM_CODE
				  <!-- ,REPORTEE_ID -->
	   	 )
	    VALUES
	    (
	    		    'CLRP' || CL_REPORT_SEQ.NEXTVAL
	    		  , #{rpReason}
	    		  , #{rpDeets}
	    		  , DEFAULT
	    		  , DEFAULT 	
	    		  , #{reporter}
	    		  , #{classNo}
	    		  <!-- #{reportee} -->
	    )
	  </insert>
<!--  	  <insert id="registerMember" parameterType="ClassRegister">
	      INSERT INTO PAYMENT (PAY_NO, PAY_ITEM, PAY_PRICE, PAY_DATE, ID, CL_PAY_NO)
          VALUES ('CLPAY'||CLPAY.NEXTVAL, '커피', 8000, SYSDATE, 'user001', 'CL24')
	  </insert> -->
	<!--   <select id="registerMember" resultMap="clResultSet">
	  	SELECT
	  			 PAY_NO
	  		 	   , PAY_ITEM
	  		 	   , PAY_PRICE
	  		 	   , PAY_DATE
	  		 	   , USER_ID
	  		 	   , CL_PAY_NO
	  	  FROM
	  	  		PAYMENT
	  </select>  -->
	  <!-- 개별 클래스 수강신청 -->
	  <insert id="registerClass" parameterType="ClassRegister">
	  	INSERT
	  	  INTO	PAYMENT
	  	  (
	  	  		  PAY_NO
	  	  		, PAY_ITEM
	  	  		, PAY_PRICE
	  	  		, PAY_DATE
	  	  		, BUYER_ID
	  	  		, CL_PAY_NO 	
	  	  )
	  	  VALUES
	  	  (
	  	  		  'CLPAY'||CLPAY.NEXTVAL
	  	  		, #{className}
	  	  		, #{classPrice}
	  	  		, SYSDATE
	  	  		, 'user001'
	  	  		, #{classNo}	  	  
	  	  )
	  </insert>
	  <!-- 메인페이지 검색 -->
	  <select id = "searchClass" parameterType="ClassSearch" resultMap="clResultSet">
	     <bind name="sv" value="'%' + _parameter.getSearchValue() +  '%'"/>
	     SELECT
	     		  CLASS_NO
				, CL_NAME
				, CL_DES
				, TR_NAME
				, TR_INTRO
				, CL_CURI
				, CL_LOCA
				, CL_SHORTDES
		  FROM  COFFEECLASS
		<where>				
				   CL_NAME LIKE #{sv}
				OR CL_DES LIKE #{sv}
				OR TR_NAME LIKE #{sv}
				OR TR_INTRO LIKE #{sv}
				OR CL_CURI LIKE #{sv}
				OR CL_LOCA LIKE #{sv}
				OR CL_SHORTDES LIKE #{sv}					
		</where>
	  ORDER BY CLASS_NO  
	  </select>
	  <!-- 메인페이지 필터검색 -->
	  <select id="filterClass" parameterType="ClassSearch" resultMap="clResultSet">
	     SELECT	
				*
		  FROM  COFFEECLASS
		 WHERE
		 		<if test="searchCategory != null">
		 			<if test="searchCategory != 'all'">
		 			AND CL_CATEGORY = #{searchCategory}
		 			</if>
		 		</if>
		 		<if test="searchLocation != null">
		 			<if test="searchLocation != 'all'">
		 			   CL_LOCA LIKE '%' || #{searchLocation} || '%'
		 			</if>
		 		</if>
	   ORDER BY DESC
	  </select>
	
	 <select id="selectCafeInfoById" parameterType="string" resultMap="cafeResultSet">
	 	SELECT
	 	       C_CODE,
			   C_NAME,
			   C_ADDRESS,
			   C_LA,
			   C_LO,
			   ID,
			   STARTTIME,
			   C_WIFI,
			   C_TOILET,
			   C_PARKING,
			   C_MESSAGE,
			   ENDTIME,
			   MAINPHOTO,
			   PHOTO1,
			   PHOTO2,
			   PHOTO3
		  FROM
		       CAFE
		 WHERE
		       ID = #{id}
	 </select>
	 <!-- QNA 출력 -->
	 <select id="selectQnA" resultMap="qnaResultSet">
	 	SELECT   CL_QNA_NO
	 		   , USER_ID
	 		   , CL_QUESTION
	 		   , CL_ASKDATE
	 		   , CLASS_NO
	 		   , CL_ANSWER
	 		   , CL_STATUS
		FROM    CL_QNA
		WHERE   CLASS_NO = #{classNo}
	 </select>
	 <!-- 질문입력 -->
	 <insert id="askClass" parameterType="ClassQnA">
	 	INSERT 
	 			INTO  CL_QNA
	 			(	  CL_QNA_NO
	 			    , CLASS_NO
	 			    , USER_ID
	 			    , CL_ASKDATE    
	 			 )
	 			VALUES
	 			(     'ASKCL'||ASKCL.NEXTVAL	
	 			    , #{classNo}
	 			    , #{userId}	
	 			    , #{question}
	 			    , SYSDATE
	 			)
	 </insert>
	 <!-- 답변입력 -->
	 <update id="answerClass" parameterType="ClassQnA">
	 	UPDATE CL_QNA
		   SET 
				  CL_ANSWER= #{answer}
				, CL_ANS_DATE = SYSDATE
				, CL_STATUS= 'Y'
		  WHERE   CL_QNA_NO = #{qnaNo}
	 </update>
	 <!-- 메인페이지 페이징 -->
	<select id="selectListWithPaging" resultMap="clResultSet" parameterType="com.kh.lahol.coffeeclass.model.vo.Paging">
		SELECT *
		FROM (
		         SELECT ROWNUM NO, A.*
		         FROM (
		            SELECT 
		    			CLASS_NO
                      , C_CODE
                      , CL_NAME
                      , CL_DES
                      , TR_NAME
                      , TR_INTRO
                      , CL_CURI
                      , CL_MAX
                      , CL_DATE
                      , CL_LOCA
                      , CL_PRICE
                      , BLIND
                      , CL_STATUS
                      , BUS_NO
                      , CL_SHORTDES
                      , CL_TIME
                      , CL_LEVEL
                      , CL_RUNTIME
                      , CL_THUMBNAIL
                      , TR_PHOTO
                      , CLASS_PHOTO
                      , CL_WRITER 
		            FROM 
		                COFFEECLASS
		            WHERE	
		                CL_STATUS='Y'
		            ORDER BY
                CLASS_NO DESC) A)
		WHERE   NO <![CDATA[>]]> (#{pageNum})-1) * #{pageSize}
    		AND ROWNUM <![CDATA[<=]]> #{pageSize}
	</select>

	 
</mapper>