<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypageMapper">
	<resultMap id="memberResultSet" type="Member">
		<id property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="email" column="EMAIL"/>
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="addr" column="ADDR"/>
		<result property="enDate" column="ENDATE"/>
		<result property="moDate" column="MODATE"/>
		<result property="isActive" column="ISACTIVE"/>
		<result property="grade" column="GRADE"/>
	</resultMap>
	<resultMap id="nmemberResultSet" type="Member_N">
		<id property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="email" column="EMAIL"/>
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="addr" column="ADDR"/>
		<result property="enDate" column="ENDATE"/>
		<result property="moDate" column="MODATE"/>
		<result property="isActive" column="ISACTIVE"/>
		<result property="grade" column="GRADE"/>
		<result property="blind" column="BLIND"/>
		<result property="isPostable" column="ISPOSTABLE"/>
		<result property="nickname" column="NICKNAME"/>
	</resultMap>
	<resultMap id="pmemberResultSet" type="Member_P">
		<id property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="email" column="EMAIL"/>
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="addr" column="ADDR"/>
		<result property="enDate" column="ENDATE"/>
		<result property="moDate" column="MODATE"/>
		<result property="isActive" column="ISACTIVE"/>
		<result property="grade" column="GRADE"/>
		<result property="openDate" column="OPENDATE"/>
		<result property="warned" column="WARNED"/>
	</resultMap>
	<resultMap id="couponResultSet" type="M_Coupon">
		<id property="coupon_code" column="COUPON_CODE"/>
		<result property="id" column="ID"/>
		<result property="coupon_name" column="COUPON_NAME"/>
		<result property="limit" column="LIMIT"/>
		<result property="issuedBy" column="ISSUEDBY"/>
		<result property="issueDate" column="ISSUEDATE"/>
		<result property="expDate" column="EXPDATE"/>
		<result property="isUsed" column="ISUSED"/>
	</resultMap>
	<resultMap id="adResultSet" type="Ad">
		<id property="ad_code" column="AD_CODE"/>
		<result property="applyDate" column="APPLYDATE"/>
		<result property="postDate" column="POSTDATE"/>
		<result property="duration" column="DURATION"/>
		<result property="origin_image" column="ORIGIN_IMAGE"/>
		<result property="rename_image" column="RENAME_IMAGE"/>
		<result property="image" column="IMAGE"/>
		<result property="url" column="URL"/>
		<result property="ad_status" column="AD_STATUS"/>
		<result property="ad_reject" column="AD_REJECT"/>
		<result property="id" column="ID"/>
		<result property="bn_code" column="BN_CODE"/>
	</resultMap>
	<update id="updateMember" parameterType="Member">
		UPDATE
		       MEMBER
		   SET
		       PWD = #{pwd}
		     , EMAIL = #{email}
		     , NAME = #{name}
		     , PHONE = #{phone}
		     , ADDR = #{addr}
		     , MODATE = SYSDATE
		 WHERE
		       ID = #{id}
	</update>
	<select id="selectMemberById" parameterType="Member" resultMap="memberResultSet">
		SELECT
		       ID
		     , PWD
		     , EMAIL
		     , NAME
		     , PHONE
		     , ADDR
		     , ENDATE
		     , MODATE
		     , ISACTIVE
		     , GRADE
		  FROM
		       MEMBER M
		 WHERE
		       ID = #{id}
	</select>
	<select id="selectNormalMember" parameterType="Member" resultMap="nmemberResultSet">
		SELECT
		       M.ID
		     , PWD
		     , EMAIL
		     , NAME
		     , PHONE
		     , ADDR
		     , ENDATE
		     , MODATE
		     , ISACTIVE
		     , GRADE
		     , BLIND
		     , ISPOSTABLE
		     , NICKNAME
		  FROM
		       MEMBER M
	 LEFT JOIN
	           M_NORMAL N ON(M.ID = N.ID)
	     WHERE
		       M.ID = #{id}
	</select>
	<select id="selectPartnerMember" parameterType="Member" resultMap="pmemberResultSet">
		SELECT
		       M.ID
		     , PWD
		     , EMAIL
		     , NAME
		     , PHONE
		     , ADDR
		     , ENDATE
		     , MODATE
		     , ISACTIVE
		     , GRADE
		     , OPENDATE
		     , WARNED
		  FROM
		       MEMBER M
	 LEFT JOIN
	           M_PARTNER P ON(M.ID = P.ID)
	     WHERE
		       M.ID = #{id}
	</select>
	<update id="deleteMember" parameterType="string">
		UPDATE
		       MEMBER
		   SET
		       ISACTIVE = 'N'
		 WHERE
		       ID = #{id}
	</update>
	<select id="selectCouponCount" parameterType="string" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       COUPON
		 WHERE
		       ID = #{id}
	</select>
	<select id="selectCouponList" parameterType="string" resultMap="couponResultSet">
		SELECT
		       COUPON_CODE
		     , ID
		     , COUPON_NAME
		     , LIMIT
		     , ISSUEDBY
		     , ISSUEDATE
		     , EXPDATE
		     , ISUSED
		  FROM
		       COUPON
		 WHERE
		       ID = #{id}
	</select>
	<insert id="insertAd" parameterType="Ad">
		INSERT
		  INTO
		       AD
		  (
		       AD_CODE
		     , APPLYDATE
		     , POSTDATE
		     , DURATION
		     , ORIGIN_IMAGE
		     , RENAME_IMAGE
		     , IMAGE
		     , URL
		     , AD_STATUS
		     , ID
		     , BN_CODE
		  )
		VALUES
		(
		       SEQ_AD.NEXTVAL
		     , TO_DATE(#{ad_reject}, 'yy/mm/dd')
		     , NULL
		     , #{duration}
		     , #{origin_image}
		     , #{rename_image}
		     , #{image}
		     , #{url}
		     , DEFAULT
		     , #{id}
		     , #{bn_code}
		)
	</insert>
	<insert id="insertPayment" parameterType="M_Payment">
		INSERT
		  INTO
		       PAYMENT
		  (
		       PAY_NO
		     , PAY_ITEM
		     , PAY_PRICE
		     , SUBSCRIBE
		     , PAY_DATE
		     , ID
		     , CAFE_RES
		     , AD_CODE
		     , PURCHASE_NUMBER
		     , SUBSCRIBE_CODE
		     , CL_PAY_NO
		  )
		VALUES
		(
		       'AD' || PAY.NEXTVAL
		     , #{pay_item}
		     , #{pay_price}
		     , NULL
		     , SYSDATE
		     , #{id}
		     , NULL
		     , #{ad_code}
		     , NULL
		     , NULL
		     , NULL
		)
	</insert>
	<select id="adListCount" parameterType="string">
		SELECT
		       COUNT(*)
		  FROM
		       AD
		 WHERE
		       ID = #{id}
	</select>
	<select id="selectAdList" parameterType="string" resultMap="adResultSet">
		SELECT
		       AD_CODE
		     , APPLYDATE
		     , POSTDATE
		     , DURATION
		     , ORIGIN_IMAGE
		     , RENAME_IMAGE
		     , IMAGE
		     , URL
		     , AD_STATUS
		     , AD_REJECT
		     , ID
		     , BN_CODE
		  FROM
		       AD
		 WHERE
		       ID = #{id}
	</select>
</mapper>