<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypageMapper">
	<resultMap id="memberResultSet" type="Member">
		<id property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="email" column="EMAIL"/>
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="addr" column="ADDR"/>
		<result property="enDate" column="ENDATE"/>
		<result property="moDate" column="MODATE"/>
		<result property="isActive" column="ISACTIVE"/>
		<result property="grade" column="GRADE"/>
	</resultMap>
	<resultMap id="nmemberResultSet" type="Member_N">
		<id property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="email" column="EMAIL"/>
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="addr" column="ADDR"/>
		<result property="enDate" column="ENDATE"/>
		<result property="moDate" column="MODATE"/>
		<result property="isActive" column="ISACTIVE"/>
		<result property="grade" column="GRADE"/>
		<result property="blind" column="BLIND"/>
		<result property="isPostable" column="ISPOSTABLE"/>
		<result property="nickname" column="NICKNAME"/>
	</resultMap>
	<resultMap id="pmemberResultSet" type="Member_P">
		<id property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="email" column="EMAIL"/>
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="addr" column="ADDR"/>
		<result property="enDate" column="ENDATE"/>
		<result property="moDate" column="MODATE"/>
		<result property="isActive" column="ISACTIVE"/>
		<result property="grade" column="GRADE"/>
		<result property="openDate" column="OPENDATE"/>
		<result property="warned" column="WARNED"/>
	</resultMap>
	<resultMap id="couponResultSet" type="M_Coupon">
		<id property="coupon_code" column="COUPON_CODE"/>
		<result property="id" column="ID"/>
		<result property="coupon_name" column="COUPON_NAME"/>
		<result property="limit" column="LIMIT"/>
		<result property="issuedBy" column="ISSUEDBY"/>
		<result property="issueDate" column="ISSUEDATE"/>
		<result property="expDate" column="EXPDATE"/>
		<result property="isUsed" column="ISUSED"/>
	</resultMap>
	<resultMap id="adResultSet" type="Ad">
		<id property="ad_code" column="AD_CODE"/>
		<result property="applyDate" column="APPLYDATE"/>
		<result property="postDate" column="POSTDATE"/>
		<result property="duration" column="DURATION"/>
		<result property="origin_image" column="ORIGIN_IMAGE"/>
		<result property="rename_image" column="RENAME_IMAGE"/>
		<result property="image" column="IMAGE"/>
		<result property="url" column="URL"/>
		<result property="ad_status" column="AD_STATUS"/>
		<result property="ad_reject" column="AD_REJECT"/>
		<result property="id" column="ID"/>
		<result property="bn_code" column="BN_CODE"/>
	</resultMap>
	<resultMap id="classResultSet" type="M_CoffeeClass">
		<id property="class_code" column="CLASS_CODE"/>
		<result property="c_code" column="C_CODE"/>
		<result property="cl_name" column="CL_NAME"/>
		<result property="people" column="PEOPLE"/>
		<result property="cl_des" column="CL_DES"/>
		<result property="tr_name" column="TR_NAME"/>
		<result property="tr_intro" column="TR_INTRO"/>
		<result property="cl_curi" column="CL_CURI"/>
		<result property="cl_max" column="CL_MAX"/>
		<result property="cl_date" column="CL_DATE"/>
		<result property="cl_loca" column="CL_LOCA"/>
		<result property="cl_price" column="CL_PRICE"/>
		<result property="blind" column="BLIND"/>
		<result property="cl_status" column="CL_STATUS"/>
		<result property="bus_no" column="BUS_NO"/>
		<result property="cl_shortdes" column="CL_SHORTDES"/>
		<result property="cl_time" column="CL_TIME"/>
		<result property="cl_time2" column="CL_TIME2"/>
		<result property="cl_time3" column="CL_TIME3"/>
		<result property="cl_level" column="CL_LEVEL"/>
		<result property="cl_runtime" column="CL_RUNTIME"/>
		<result property="class_photo" column="CLASS_PHOTO"/>
		<result property="cl_thumbnail" column="CL_THUMBNAIL"/>
		<result property="tr_photo" column="TR_PHOTO"/>
		<result property="cl_writer" column="CL_WRITER"/>
		<result property="cl_category" column="CL_CATEGORY"/>
		<result property="c_name" column="C_NAME"/>
		<result property="c_owner" column="C_OWNER"/>
		<result property="c_address" column="C_ADDRESS"/>
		<result property="c_la" column="C_LA"/>
		<result property="c_lo" column="C_LO"/>
	</resultMap>
	<resultMap id="classMemberResultSet" type="Member">
		<id property="id" column="ID"/>
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="pay_date" column="PAY_DATE"/>
	</resultMap>
	<resultMap id="storeStatsResultSet" type="StoreStats">
		<id property="pay_no" column="PAY_NO"/>
		<result property="pay_item" column="PAY_ITEM"/>
		<result property="buyer_id" column="BUYER_ID"/>
		<result property="cafe_res" column="CAFE_RES"/>
		<result property="purchase_number" column="PURCHASE_NUMBER"/>
		<result property="subscribe_code" column="SUBSCRIBE_CODE"/>
		<result property="cl_pay_no" column="CL_PAY_NO"/>
		<result property="pay_date" column="PAY_DATE"/>
		<result property="pay_price" column="PAY_PRICE"/>
		<result property="pay_dc" column="PAY_DC"/>
		<result property="pay_total" column="PAY_TOTAL"/>
		<result property="id" column="ID"/>
		<result property="pr_count" column="PR_COUNT"/>
	</resultMap>
	<resultMap id="shippingResultSet" type="M_Shipping">
		<id property="shipping_code" column="SHIPPING_CODE"/>
		<result property="pay_no" column="PAY_NO"/>
		<result property="pay_item" column="PAY_ITEM"/>
		<result property="shipping_status" column="SHIPPING_STATUS"/>
		<result property="shipping_date" column="SHIPPING_DATE"/>
		<result property="delivery" column="DELIVERY"/>
		<result property="subs_month" column="SUBS_MONTH"/>
		<result property="sub" column="SUB"/>
		<result property="count" column="COUNT"/>
		<result property="buyer_id" column="BUYER_ID"/>
		<result property="addr" column="ADDR"/>
		<result property="id" column="ID"/>
	</resultMap>
	<update id="updateMember" parameterType="Member">
		UPDATE
		       MEMBER
		   SET
		       PWD = #{pwd}
		     , EMAIL = #{email}
		     , NAME = #{name}
		     , PHONE = #{phone}
		     , ADDR = #{addr}
		     , MODATE = SYSDATE
		 WHERE
		       ID = #{id}
	</update>
	<select id="selectMemberById" parameterType="Member" resultMap="memberResultSet">
		SELECT
		       ID
		     , PWD
		     , EMAIL
		     , NAME
		     , PHONE
		     , ADDR
		     , ENDATE
		     , MODATE
		     , ISACTIVE
		     , GRADE
		  FROM
		       MEMBER M
		 WHERE
		       ID = #{id}
	</select>
	<select id="selectNormalMember" parameterType="Member" resultMap="nmemberResultSet">
		SELECT
		       M.ID
		     , PWD
		     , EMAIL
		     , NAME
		     , PHONE
		     , ADDR
		     , ENDATE
		     , MODATE
		     , ISACTIVE
		     , GRADE
		     , BLIND
		     , ISPOSTABLE
		     , NICKNAME
		  FROM
		       MEMBER M
	 LEFT JOIN
	           M_NORMAL N ON(M.ID = N.ID)
	     WHERE
		       M.ID = #{id}
	</select>
	<select id="selectPartnerMember" parameterType="Member" resultMap="pmemberResultSet">
		SELECT
		       M.ID
		     , PWD
		     , EMAIL
		     , NAME
		     , PHONE
		     , ADDR
		     , ENDATE
		     , MODATE
		     , ISACTIVE
		     , GRADE
		     , OPENDATE
		     , WARNED
		  FROM
		       MEMBER M
	 LEFT JOIN
	           M_PARTNER P ON(M.ID = P.ID)
	     WHERE
		       M.ID = #{id}
	</select>
	<update id="deleteMember" parameterType="string">
		UPDATE
		       MEMBER
		   SET
		       ISACTIVE = 'N'
		 WHERE
		       ID = #{id}
	</update>
	<select id="selectCouponCount" parameterType="string" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       COUPON
		 WHERE
		       ID = #{id}
	</select>
	<select id="selectCouponList" parameterType="string" resultMap="couponResultSet">
		SELECT
		       COUPON_CODE
		     , ID
		     , COUPON_NAME
		     , LIMIT
		     , ISSUEDBY
		     , ISSUEDATE
		     , EXPDATE
		     , ISUSED
		  FROM
		       COUPON
		 WHERE
		       ID = #{id}
	  ORDER BY REGEXP_REPLACE(COUPON_CODE, '[0-9]'), TO_NUMBER(REGEXP_REPLACE(COUPON_CODE, '[^0-9]')) DESC
	</select>
	<insert id="insertAd" parameterType="Ad">
		INSERT
		  INTO
		       AD
		  (
		       AD_CODE
		     , APPLYDATE
		     , POSTDATE
		     , DURATION
		     , ORIGIN_IMAGE
		     , RENAME_IMAGE
		     , IMAGE
		     , URL
		     , AD_STATUS
		     , ID
		     , BN_CODE
		  )
		VALUES
		(
		       SEQ_AD.NEXTVAL
		     , SYSDATE
		     , TO_DATE(#{ad_reject}, 'yy/mm/dd')
		     , #{duration}
		     , #{origin_image}
		     , #{rename_image}
		     , #{image}
		     , #{url}
		     , DEFAULT
		     , #{id}
		     , #{bn_code}
		)
	</insert>
	<insert id="insertPayment" parameterType="M_Payment">
		INSERT
		  INTO
		       PAYMENT
		  (
		       PAY_NO
		     , PAY_ITEM
		     , PAY_PRICE
		     , SUBSCRIBE
		     , PAY_DATE
		     , BUYER_ID
		     , CAFE_RES
		     , AD_CODE
		     , PURCHASE_NUMBER
		     , SUBSCRIBE_CODE
		     , CL_PAY_NO
		     , PAY_DC
		     , PAY_TOTAL
		  )
		VALUES
		(
		       'AD' || PAY.NEXTVAL
		     , #{pay_item}
		     , #{pay_price}
		     , NULL
		     , SYSDATE
		     , #{id}
		     , NULL
		     , #{ad_code}
		     , NULL
		     , NULL
		     , NULL
		     , 0
		     , #{pay_price}
		)
	</insert>
	<select id="adListCount" parameterType="string" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       AD
		 WHERE
		       ID = #{id}
	</select>
	<select id="selectAdList" parameterType="string" resultMap="adResultSet">
		SELECT
		       AD_CODE
		     , APPLYDATE
		     , POSTDATE
		     , DURATION
		     , ORIGIN_IMAGE
		     , RENAME_IMAGE
		     , IMAGE
		     , URL
		     , AD_STATUS
		     , AD_REJECT
		     , ID
		     , BN_CODE
		  FROM
		       AD
		 WHERE
		       ID = #{id}
	  ORDER BY TO_NUMBER(AD_CODE) DESC
	</select>
	<select id="selectAdByCode" parameterType="string" resultMap="adResultSet">
		SELECT
		       AD_CODE
		     , APPLYDATE
		     , POSTDATE
		     , DURATION
		     , ORIGIN_IMAGE
		     , RENAME_IMAGE
		     , IMAGE
		     , URL
		     , AD_STATUS
		     , AD_REJECT
		     , ID
		     , BN_CODE
		  FROM
		       AD
		 WHERE
		       AD_CODE = #{ad_code}
	</select>
	<update id="updateAd" parameterType="Ad">
		UPDATE
		       AD
		   SET
		       APPLYDATE = SYSDATE
		     , POSTDATE = TO_DATE(#{ad_reject}, 'yy/mm/dd')
		     , ORIGIN_IMAGE = #{origin_image}
		     , RENAME_IMAGE = #{rename_image}
		     , IMAGE = #{image}
		     , URL = #{url}
		     , AD_STATUS = DEFAULT
		     , AD_REJECT = NULL
		 WHERE
		       AD_CODE = #{ad_code}
	</update>
	<select id="classListCount" parameterType="string" resultType="_int">
		SELECT 
		       COUNT(*)
		  FROM 
		       COFFEECLASS
		  JOIN
		       CAFE USING(C_CODE)
		 WHERE
		       ID = #{id}
	</select>
	<select id="selectClassList" parameterType="string" resultMap="classResultSet">
		SELECT
		       CLASS_NO
		     , C_CODE
		     , CL_NAME
		     , PEOPLE
		     , CL_DES
		     , TR_NAME
		     , TR_INTRO
		     , CL_CURI
		     , CL_MAX
		     , CL_DATE
		     , CL_LOCA
		     , CL_PRICE
		     , BLIND
		     , CL_STATUS
		     , BUS_NO
		     , CL_SHORTDES
		     , CL_TIME
		     , CL_TIME2
		     , CL_TIME3
		     , CL_LEVEL
		     , CL_RUNTIME
		     , CLASS_PHOTO
		     , CL_THUMBNAIL
		     , TR_PHOTO
		     , CL_WRITER
		     , CL_CATEGORY
		     , C_NAME
		     , C_OWNER
		     , C_ADDRESS
		     , C_LA
		     , C_LO
		  FROM
		       COFFEECLASS
		  JOIN
		       CAFE USING(C_CODE)
		  JOIN
		       CL_PEOPLE USING(CLASS_NO)
		 WHERE
		       ID = #{id}
	  ORDER BY REGEXP_REPLACE(CLASS_NO, '[0-9]'), TO_NUMBER(REGEXP_REPLACE(CLASS_NO, '[^0-9]')) DESC
	</select>
	<select id="selectClassMemberCount" parameterType="string" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM 
		       PAYMENT
		  JOIN 
		       MEMBER ON(BUYER_ID = ID)
		  JOIN 
		       CL_ORDER USING(CL_PAY_NO)
		 WHERE
		       CLASS_NO = #{class_no}
	</select>
	<select id="selectClassMember" parameterType="string" resultMap="classMemberResultSet">
		SELECT
		       ID
		     , NAME
		     , PHONE
		     , EMAIL
		     , PAY_DATE
		  FROM
		       PAYMENT
		  JOIN 
		       MEMBER ON(BUYER_ID = ID)
		  JOIN 
		       CL_ORDER USING(CL_PAY_NO)
		 WHERE
		       CLASS_NO = #{class_no}
	</select>
	<select id="selectClassByNo" parameterType="string" resultMap="classResultSet">
		SELECT
		       CLASS_NO
		     , C_CODE
		     , CL_NAME
		     , CL_DES
		     , TR_NAME
		     , TR_INTRO
		     , CL_CURI
		     , CL_MAX
		     , CL_DATE
		     , CL_LOCA
		     , CL_PRICE
		     , BLIND
		     , CL_STATUS
		     , BUS_NO
		     , CL_SHORTDES
		     , CL_TIME
		     , CL_TIME2
		     , CL_TIME3
		     , CL_LEVEL
		     , CL_RUNTIME
		     , CLASS_PHOTO
		     , CL_THUMBNAIL
		     , TR_PHOTO
		     , CL_WRITER
		     , CL_CATEGORY
		  FROM
		       COFFEECLASS
		 WHERE
		       CLASS_NO = #{class_no}
	</select>
	<select id="payStoreListCount" parameterType="string" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       M_STORE_STATS
		 WHERE
		       ID = #{id}
	</select>
	<select id="selectPayStoreList" parameterType="string" resultMap="storeStatsResultSet">
		SELECT
		       PAY_NO
		     , PAY_ITEM
		     , BUYER_ID
		     , CAFE_RES
		     , PURCHASE_NUMBER
		     , SUBSCRIBE_CODE
		     , CL_PAY_NO
		     , PAY_DATE
		     , PAY_PRICE
		     , PAY_DC
		     , PAY_TOTAL
		     , ID
		     , PR_COUNT
		  FROM
		       M_STORE_STATS
		 WHERE
		       ID = #{id}
	  ORDER BY REGEXP_REPLACE(PAY_NO, '[0-9]'), TO_NUMBER(REGEXP_REPLACE(PAY_NO, '[^0-9]')) DESC
	</select>
	<select id="selectSumPayStore" parameterType="java.util.List" resultType="_int">
		SELECT
		       NVL(SUM(PAY_PRICE), 0)
		  FROM
		       M_STORE_STATS
		 WHERE
		       ID = #{list[0]}
		 <if test="list[1] != null">
		   AND PAY_NO LIKE #{list[1]} || '%'
		 </if>
	</select>
	<select id="searchPayStoreCount" parameterType="M_Search" resultType="_int">
		SELECT 
		       COUNT(*)
		  FROM
		       M_STORE_STATS
		 WHERE
		       ID = #{id}
		   AND PAY_NO LIKE #{searchCondition} || '%'
		   <choose>
		   		<when test="search != null">
		   		AND MONTHS_BETWEEN(SYSDATE, PAY_DATE) <![CDATA[<=]]> TO_NUMBER(#{search})
		   		</when>
		   		<otherwise>
		   		AND PAY_DATE <![CDATA[>=]]> TO_DATE(#{period_start}, 'YYYY-MM-DD')
		   		AND PAY_DATE <![CDATA[<=]]> TO_DATE(#{period_end}, 'YYYY-MM-DD')
		   		</otherwise>
		   </choose>
	</select>
	<select id="searchPayStoreList" parameterType="M_Search" resultMap="storeStatsResultSet">
		SELECT 
		       PAY_NO
		     , PAY_ITEM
		     , BUYER_ID
		     , CAFE_RES
		     , PURCHASE_NUMBER
		     , SUBSCRIBE_CODE
		     , CL_PAY_NO
		     , PAY_DATE
		     , PAY_PRICE
		     , PAY_DC
		     , PAY_TOTAL
		     , ID
		     , PR_COUNT
		  FROM
		       M_STORE_STATS
		 WHERE
		       ID = #{id}
		   AND PAY_NO LIKE #{searchCondition} || '%'
		   <choose>
		   		<when test="search != null">
		   		AND MONTHS_BETWEEN(SYSDATE, PAY_DATE) <![CDATA[<=]]> TO_NUMBER(#{search})
		   		</when>
		   		<otherwise>
		   		AND PAY_DATE <![CDATA[>=]]> TO_DATE(#{period_start}, 'YYYY-MM-DD')
		   		AND PAY_DATE <![CDATA[<=]]> TO_DATE(#{period_end}, 'YYYY-MM-DD')
		   		</otherwise>
		   </choose>
	</select>
	<select id="searchSumPayStore" parameterType="java.util.List" resultType="_int">
		SELECT
		       NVL(SUM(PAY_PRICE), 0)
		  FROM
		       M_STORE_STATS
		 WHERE
		       ID = #{list[0].id}
		   AND PAY_NO LIKE #{list[1]} || '%'
		   <choose>
		   		<when test="list[0].search != null">
		   		AND MONTHS_BETWEEN(SYSDATE, PAY_DATE) <![CDATA[<=]]> TO_NUMBER(#{list[0].search})
		   		</when>
		   		<otherwise>
		   		AND PAY_DATE <![CDATA[>=]]> TO_DATE(#{list[0].period_start}, 'YYYY-MM-DD')
		   		AND PAY_DATE <![CDATA[<=]]> TO_DATE(#{list[0].period_end}, 'YYYY-MM-DD')
		   		</otherwise>
		   </choose>
	</select>
	<select id="orderListCount" parameterType="string" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       SH_STORE_VIEW
		 WHERE
		       ID = #{id}
	</select>
	<select id="selectOrderList" parameterType="string" resultMap="shippingResultSet">
		SELECT
		       SHIPPING_CODE
		     , PAY_NO
		     , PAY_ITEM
		     , SHIPPING_STATUS
		     , SHIPPING_DATE
		     , DELIVERY
		     , SUBS_MONTH
		     , SUB
		     , COUNT
		     , BUYER_ID
		     , ADDR
		     , ID
		  FROM
		       SH_STORE_VIEW
		 WHERE
		       ID = #{id}
	  ORDER BY TO_NUMBER(SHIPPING_CODE) DESC
	</select>
	<update id="updateShipping" parameterType="java.util.List">
		UPDATE
		       SH_STATUS
		   SET
		       SHIPPING_STATUS = #{list[1]}
		     , SHIPPING_DATE = SYSDATE
		 WHERE
		       SHIPPING_CODE = #{list[0]}
	</update>
	<select id="selectShip" parameterType="M_Shipping" resultMap="shippingResultSet">
		SELECT
		       SHIPPING_CODE
		     , PAY_NO
		     , PAY_ITEM
		     , SHIPPING_STATUS
		     , SHIPPING_DATE
		     , DELIVERY
		     , SUBS_MONTH
		     , SUB
		     , COUNT
		     , BUYER_ID
		     , ADDR
		     , ID
		  FROM
		       SH_STORE_VIEW
		 WHERE
		       ID = #{id}
		   AND SHIPPING_CODE = #{shipping_code}
	</select>
</mapper>