<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="storeMapper">
	<resultMap id="storeResultSet" type="Store">
		<id property="PR_CODE" column="PR_CODE"/>
		<result property="ST_CATAGORY" column="ST_CATAGORY"/>
		<result property="PR_NAME" column="PR_NAME"/>
		<result property="PR_IF" column="PR_IF"/>
		<result property="PR_EVENT" column="PR_EVENT"/>
		<result property="ORIGIN" column="ORIGIN"/>
		<result property="PR_PRICE" column="PR_PRICE"/>
		<result property="SUBSCRIPTIONS" column="SUBSCRIPTIONS"/>
		<result property="STORE_PHOTO1" column="STORE_PHOTO1"/>
		<result property="STORE_PHOTO2" column="STORE_PHOTO2"/>
		<result property="STORE_PHOTO3" column="STORE_PHOTO3"/>
		<result property="DY_COMPANY" column="DY_COMPANY"/>
		<result property="PR_INF" column="PR_INF"/>
		<result property="SERVICE_CENTER" column="SERVICE_CENTER"/>
		<result property="PR_DATE" column="PR_DATE"/>
		<result property="PR_NOTICE" column="PR_NOTICE"/> 
		<result property="PR_STATUS" column="PR_STATUS"/>
		<result property="C_CODE" column="C_CODE"/>	
		<result property="SCOUNT" column="SCOUNT"/>	
		
	</resultMap>
	 
	 <resultMap id="QResultSet" type="storeQ">
		<id property="qnaNo" column="QNA_NO"/>
		<result property="qnaTitle" column="QNA_TYPE"/>
		<result property="qnaContent" column="QNA_CONTENT"/>
		<result property="qnaDate" column="QNA_DATE"/>
		<result property="PR_CODE" column="PR_CODE"/>
	 	<result property="id" column="ID"/>
		
	</resultMap>
	 
	 <resultMap id="AResultSet" type="storeA">
		<id property="qnaNo" column="QNA_NO"/>
		<result property="aContent" column="A_CONTENT"/>
		<result property="id" column="ID"/>  
	</resultMap>
	 
	
	 <resultMap id="SubResultSet" type="Sub">
		<id property="Sub_code" column="SUBSCRIBE_CODE"/>
		<result property="Pr_code" column="PR_CODE"/>
		<result property="Subs_Month" column="SUBS_MONTH"/>  
		<result property="Pay" column="PAY_PRICE"/> 
	</resultMap>

	
	 <resultMap id="PayResultSet" type="Payment">
		<id property="pay_no" column="PAY_NO"/>
		<result property="PAY_ITEM" column="PAY_ITEM"/>
		<result property="pay_price" column="PAY_PRICE"/>
		<result property="subscribe" column="SUBSCRIBE"/>  
		<result property="pay_date" column="PAY_DATE"/>  
		<result property="id" column="BUYER_ID"/>  
		<result property="cafe_res" column="CAFE_RES"/> 
		<result property="ad_code" column="AD_CODE"/>
		<result property="purchase_number" column="PURCHASE_NUMBER"/>  
		<result property="subscribe_code" column="SUBSCRIBE_CODE"/> 
		<result property="cl_pay_no" column="CL_PAY_NO"/> 
		<result property="pay_dc" column="PAY_DC"/> 
		<result property="pay_total" column="PAY_TOTA"/> 
	</resultMap>
	
 
	
	<!-- 
PR_CODE	VARCHAR2(30 BYTE)	No		1	제품코드
ST_CATAGORY	VARCHAR2(100 BYTE)	No		2	스토어카케고리
PR_NAME	VARCHAR2(100 BYTE)	No		3	제품명
PR_IF	VARCHAR2(1000 BYTE)	No		4	제품소개
PR_EVENT	VARCHAR2(100 BYTE)	Yes		5	이벤트소개
ORIGIN	VARCHAR2(100 BYTE)	No		6	원산지
PR_PRICE	VARCHAR2(100 BYTE)	No		7	가격
SUBSCRIPTIONS	VARCHAR2(2 BYTE)	No		8	구독여부
STORE_PHOTO1	VARCHAR2(100 BYTE)	Yes		9	대표이미지
STORE_PHOTO2	VARCHAR2(100 BYTE)	Yes		10	추가이미지
STORE_PHOTO3	VARCHAR2(100 BYTE)	Yes		11	추아이미지2
DY_COMPANY	VARCHAR2(100 BYTE)	No		12	택배사
PR_INF	VARCHAR2(800 BYTE)	No		13	제품기능
SERVICE_CENTER	VARCHAR2(100 BYTE)	Yes		14	고객센터
PR_DATE	DATE	No	"SYSDATE	"	15	등록일
PR_NOTICE	VARCHAR2(1000 BYTE)	Yes		16	유의사항
PR_STATUS	VARCHAR2(2 BYTE)	Yes	"'N'	"	17	블라인드여부
C_CODE	VARCHAR2(30 BYTE)	No		18	카페코드
 -->
	
	<select id="selectListCount" resultType="_int">
		SELECT 
		       COUNT(*)
		  FROM
		       PRODUCT
		 WHERE
		       PR_STATUS = 'Y'
	</select> 
	
	

	
	<select id="selectSearchCount"  parameterType="Search" resultType="_int"  >
	  <bind name="sv" value="'%' + _parameter.getSearchValue() + '%'"/>  
	 
		SELECT 
		       COUNT(*)
		  FROM
		       PRODUCT
	   <where> 
			<choose>
				<when test="searchCondition == 'title'">
				AND 
					PR_NAME LIKE #{sv}
				AND 
					PR_STATUS = 'Y'
				</when>
				 
				<when test="searchCondition == 'category'">
				AND 
					ST_CATAGORY LIKE #{sv}
				AND 
					PR_STATUS = 'Y'
				</when>
				<otherwise>
				 
				</otherwise>
			</choose>
		</where>
	</select> 
	
	
	<select id="selectList" resultMap="storeResultSet">
		 SELECT
		       PR_CODE
		     , ST_CATAGORY
		     , PR_NAME
		     , PR_IF
		     , PR_EVENT
		     , ORIGIN
		     , PR_PRICE
		     , SUBSCRIPTIONS
		     , STORE_PHOTO1
		     , STORE_PHOTO2
		     , STORE_PHOTO3
		     , DY_COMPANY
		     , PR_INF
		     , SERVICE_CENTER
		     , PR_DATE
	         , PR_NOTICE 
      		 , PR_STATUS
      		 , C_CODE
      		 , SCOUNT
		          
		  FROM
		       PRODUCT
               JOIN CAFE USING(C_CODE)  
		 WHERE
		       PR_STATUS = 'Y' 
	  ORDER BY
	           PR_CODE DESC
	</select>
	
	<!--  추천상품 리스트 (조회수루 적용) -->
	<select id="selectList2" resultMap="storeResultSet">
				SELECT
		       PR_CODE
		     , ST_CATAGORY
		     , PR_NAME
		     , PR_IF
		     , PR_EVENT
		     , ORIGIN
		     , PR_PRICE
		     , SUBSCRIPTIONS
		     , STORE_PHOTO1
		     , STORE_PHOTO2
		     , STORE_PHOTO3
		     , DY_COMPANY
		     , PR_INF
		     , SERVICE_CENTER
		     , PR_DATE
	         , PR_NOTICE 
      		 , PR_STATUS
      		 , C_CODE
      		 , SCOUNT
		          
		  FROM
		       (SELECT
		               *
		          FROM
		               PRODUCT
		         WHERE
		               PR_STATUS = 'Y'
		      ORDER BY
		                SCOUNT DESC 
		       )		
		 WHERE
		 	    ROWNUM <![CDATA[<=]]> 3
		 	  
	</select>
	
	<!-- 나의 페이지 조회 -->
	<select id="myselectList" resultMap="storeResultSet">
	 SELECT	
		       PR_CODE
		     , ST_CATAGORY
		     , PR_NAME
		     , PR_IF
		     , PR_EVENT
		     , ORIGIN
		     , PR_PRICE
		     , SUBSCRIPTIONS
		     , STORE_PHOTO1
		     , STORE_PHOTO2
		     , STORE_PHOTO3
		     , DY_COMPANY
		     , PR_INF
		     , SERVICE_CENTER
		     , PR_DATE
	         , PR_NOTICE 
      		 , PR_STATUS
      		 , C_CODE
      		 , SCOUNT
		          
		  FROM
		       PRODUCT
               JOIN CAFE USING(C_CODE)  
		 WHERE
		       ID = #{id}
		   AND 
				PR_STATUS = 'Y'
	  ORDER BY
	           PR_CODE DESC  
	</select>
	
	 <!-- 내가 쓴글 카운트 -->
	<select id="mySearchCount" resultType="_int"  > 
		SELECT 
		       COUNT(*)
		  FROM
		       PRODUCT
		       JOIN CAFE USING(C_CODE)  
		 WHERE
		        ID = #{id}
		    AND 
				PR_STATUS = 'Y'
	</select> 
	 
 
	<select id="searchList"   parameterType="Search" resultMap="storeResultSet">
	  <bind name="sv" value="'%' + _parameter.getSearchValue() + '%'"/>  
		SELECT
		       PR_CODE
		     , ST_CATAGORY
		     , PR_NAME
		     , PR_IF
		     , PR_EVENT
		     , ORIGIN
		     , PR_PRICE
		     , SUBSCRIPTIONS
		     , STORE_PHOTO1
		     , STORE_PHOTO2
		     , STORE_PHOTO3
		     , DY_COMPANY
		     , PR_INF
		     , SERVICE_CENTER
		     , PR_DATE
	         , PR_NOTICE 
      		 , PR_STATUS
      		 , SCOUNT 
		  FROM
		        (SELECT
		               *
		          FROM
		               PRODUCT
		         WHERE
		               PR_STATUS = 'Y'
		      ORDER BY
		                PR_CODE  
		       )		
		<where>
			 
			<choose>
				<when test="searchCondition == 'title'">
				AND 
					PR_NAME LIKE #{sv}
				AND 
					PR_STATUS = 'Y'
				</when>
				 
				<when test="searchCondition == 'category'">
				AND 
					ST_CATAGORY LIKE #{sv}
				AND 
					PR_STATUS = 'Y'
				</when>
				<otherwise>
				 
				</otherwise>
			</choose>
		</where>
		 
	</select>
	
	<select id="selectStore" parameterType="_int" resultMap="storeResultSet">
		SELECT
		       PR_CODE
		     , ST_CATAGORY
		     , PR_NAME
		     , PR_IF
		     , PR_EVENT
		     , ORIGIN
		     , PR_PRICE
		     , SUBSCRIPTIONS
		     , STORE_PHOTO1
		     , STORE_PHOTO2
		     , STORE_PHOTO3
		     , DY_COMPANY
		     , PR_INF
		     , SERVICE_CENTER
		     , PR_DATE
	         , PR_NOTICE 
      		 , PR_STATUS
      		 , C_CODE
      		 , SCOUNT
		          
		  FROM
		       PRODUCT
		 WHERE
		 	   PR_CODE = #{PR_CODE}
		 AND
		       PR_STATUS = 'Y' 
	</select>
	
	<!--  조회수 증가시켜 조회수많은 제품 추천상품 등록 -->
	<update id="updateReadCount" parameterType="_int">
		UPDATE
		        PRODUCT
		   SET
		       SCOUNT = SCOUNT + 1
		 WHERE
		       PR_CODE = #{PR_CODE}
	</update>
	
	
	
	<insert id="insertStore" parameterType="string">
		INSERT
		INTO PRODUCT
		(
		       PR_CODE
		     , ST_CATAGORY
		     , PR_NAME
		     , PR_IF
		     , PR_EVENT
		     , ORIGIN
		     , PR_PRICE
		     , SUBSCRIPTIONS
		     , STORE_PHOTO1
		     , STORE_PHOTO2
		     , STORE_PHOTO3
		     , DY_COMPANY
		     , PR_INF
		     , SERVICE_CENTER
		     , PR_DATE
	         , PR_NOTICE 
      		 , PR_STATUS
      		 , C_CODE
      		 , SCOUNT
		          
		 	)
		VALUES
		(
			STA.NEXTVAL
			,#{ST_CATAGORY}
			,#{PR_NAME}
			,#{PR_IF}
			,#{PR_EVENT}
			,#{ORIGIN}
			,#{PR_PRICE}
			,#{SUBSCRIPTIONS}
			,#{STORE_PHOTO1}
			,#{STORE_PHOTO2}
			,#{STORE_PHOTO3}
			,#{DY_COMPANY}
			,#{PR_INF}
			,#{SERVICE_CENTER}
			, SYSDATE
			,#{PR_NOTICE }
			, 'Y'
			, (SELECT C_CODE
					FROM
   				 CAFE
 				WHERE
   				 ID= #{C_CODE})
			, 0 
		)
	
	</insert>
	
	<update id="updateStore" parameterType="Store">
		UPDATE 
		       PRODUCT
		   SET    
		       ST_CATAGORY = #{ ST_CATAGORY }
		     , PR_NAME = #{ PR_NAME }
		     , PR_IF = #{ PR_IF  }
		     , PR_EVENT = #{ PR_EVENT }
		     , ORIGIN = #{ ORIGIN }
		     , PR_PRICE = #{ PR_PRICE } 
		     , STORE_PHOTO1 = #{ STORE_PHOTO1 }
		     , STORE_PHOTO2 = #{ STORE_PHOTO2 }
		     , STORE_PHOTO3 = #{ STORE_PHOTO3 }
		     , DY_COMPANY = #{ DY_COMPANY }
		     , PR_INF = #{ PR_INF }
		     , SERVICE_CENTER = #{ SERVICE_CENTER } 
	         , PR_NOTICE = #{ PR_NOTICE }
		 WHERE 
		       PR_CODE = #{ PR_CODE }
	</update>
	
	 <update id="deleteStore" parameterType="_int">
		UPDATE 
		       PRODUCT
		   SET 
		       PR_STATUS = 'N'
		 WHERE 
		      PR_CODE = #{PR_CODE}
	</update>
	
 
	
	<!--질문등록   -->
	 <insert id="insertQuestion" parameterType="string">
		INSERT
		INTO PRODUCT_Q
		(
		     QNA_NO
		    ,QNA_TYPE
		    ,QNA_CONTENT
		    ,QNA_DATE
		    ,PR_CODE 
		    ,ID
		          
		 	)
		VALUES
		(
		
			  STQ.NEXTVAL	
		   	, #{qnaTitle}
			, #{qnaContent}
			, SYSDATE
			, #{PR_CODE}
			, #{id} 
		)
	
	</insert>
	
	
	<!--  질문 리스트 -->
	<select id="QsearchList"   parameterType="Search" resultMap="QResultSet">
	  <bind name="sv" value="'%' + _parameter.getSearchValue() + '%'"/>  
		SELECT
		    *
		  FROM
		      PRODUCT_Q  
		<where>
			 
			<choose>
				<when test="searchCondition == 'PR_CODE'">
				AND 
					PR_CODE LIKE #{sv} 
				</when>
				 
				 
				<otherwise>
				 AND 
					PR_CODE LIKE #{sv} 
				</otherwise>
			</choose>
		</where>
		 
	</select>
	
	
	<!-- 질문답변 -->
	 <insert id="insertAnser" parameterType="string">
		INSERT
		INTO PRODUCT_A
		(
		     QNA_NO
		    ,A_CONTENT
		    ,ID  
		          
		 	)
		VALUES
		(
		   	 #{qnaNo}
			,#{aContent}
			,#{id}
		)
	
	</insert>
	
	 
	<!-- 답변 리스트  -->
	<select id="AsearchList"   parameterType="Search" resultMap="AResultSet">
	  <bind name="sv" value="'%' + _parameter.getSearchValue() + '%'"/>  
		SELECT
		     *
		  FROM
		     PRODUCT_A 
		     JOIN  PRODUCT_Q USING(QNA_NO)  
		<where>
			 
			<choose>
				<when test="searchCondition == 'qnaNo'">
				AND 
					PR_CODE LIKE #{sv} 
				</when>
				  
				<otherwise>
				 AND 
					PR_CODE LIKE #{sv} 
				</otherwise>
			</choose>
		</where>
		 
	</select>
	
	<select id="CafeCode"   parameterType="Search"  resultType="string" >
	  <bind name="sv" value="'%' + _parameter.getSearchValue() + '%'"/>  
		SELECT 	   
		  	 	ID
		 FROM
				CAFE
		  WHERE
				 C_CODE LIKE #{sv} 
		 
	</select>
 
 
 
  
 
 <insert id="insertsubscribe" parameterType="string">
		INSERT
		INTO SUB
		(
		       SUBSCRIBE_CODE
		     , PR_CODE
		     , SUBS_MONTH
		     , PAY_PRICE 
		    
		 	)
		VALUES
		(
			 STS.NEXTVAL
			,#{Pr_code}
			,#{Subs_Month}
			,#{Pay} 
			 
		)
	
	</insert>
 
 
 
  <insert id="insertPAYMENT" parameterType="string">
		INSERT
		  INTO
		       PAYMENT
		  (
		       PAY_NO
		     , PAY_ITEM
		     , PAY_PRICE
		     , SUBSCRIBE
		     , PAY_DATE
		     , BUYER_ID
		     , CAFE_RES
		     , AD_CODE
		     , PURCHASE_NUMBER
		     , SUBSCRIBE_CODE
		     , CL_PAY_NO
		     , PAY_DC
		     , PAY_TOTAL
		  )
		VALUES
		(
		       STP.NEXTVAL
		     , #{PAY_ITEM}
		     , #{pay_price}
		     , #{subscribe}
		     , SYSDATE
		     , #{id}
		     , NULL
		     , #{ad_code}
		     , NULL
		     , (SELECT SUBSCRIBE_CODE
				FROM
				(SELECT SUBSCRIBE_CODE, ROWNUM AS RNUM
				FROM SUB
				ORDER BY SUBSCRIBE_CODE DESC)
				WHERE RNUM = 1)
		     , NULL
		     , 0
		     , #{pay_price}
		)
	
	</insert>
  
	
</mapper>