<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 만약에 null로 데이터가 전달 되었다면 빈칸이 아닌 NULL로 인식 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- 데이터베이스로의 응답을 얼마나 오래 기다릴지 판단하는 타임 아웃 설정 -->
		<setting name="defaultStatementTimeout" value="25"/>	
	</settings>
	
	<!-- typeAliases -->
	<typeAliases> 
		<!-- 스토어  -->
		<typeAlias type="com.kh.lahol.store.model.vo.Store" alias="Store"/>
		<!-- 스토어 질문  -->
		<typeAlias type="com.kh.lahol.store.model.vo.storeQ" alias="storeQ"/>
		<!-- 스토어 답변  -->
		<typeAlias type="com.kh.lahol.store.model.vo.storeA" alias="storeA"/>
		<!-- 정기구독 -->
		<typeAlias type="com.kh.lahol.store.model.vo.storeA" alias="Sub"/>
		<!-- 스토어 결제 -->
		<typeAlias type="com.kh.lahol.store.model.vo.Payment" alias="Payment"/>
		<!-- 스토어 결제상세 -->
		<typeAlias type="com.kh.lahol.store.model.vo.Prpay" alias="Prpay"/>
		<typeAlias type="com.kh.lahol.store.model.vo.Pr_pay_w" alias="Pr_pay_w"/>
		<typeAlias type="com.kh.lahol.store.model.vo.Sh_status" alias="Sh_status"/>
		<typeAlias type="com.kh.lahol.store.model.vo.StoreReview2" alias="StoreReview2"/>
		<!-- 스토어 신고 -->
		<typeAlias type="com.kh.lahol.store.model.vo.pr_re" alias="Pr_Report"/> 
		<!-- 일반회원 -->
		<typeAlias type="com.kh.lahol.member.model.vo.M_Normal" alias="Member_N"/>
		<!-- 사업자회원 -->
		<typeAlias type="com.kh.lahol.member.model.vo.M_Partner" alias="Member_P"/>
		<!-- 관리자 -->
		<typeAlias type="com.kh.lahol.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.lahol.admin.model.vo.Member_P" alias="A_Member_P"/>
		<typeAlias type="com.kh.lahol.admin.model.vo.CafeList" alias="A_CafeList"/>
		<typeAlias type="com.kh.lahol.admin.model.vo.Promotion" alias="A_Promo"/>
		<typeAlias type="com.kh.lahol.admin.model.vo.CafeList" alias="A_CafeList"/>
		<typeAlias type="com.kh.lahol.admin.model.vo.Report_P" alias="A_Report_P"/>
		<typeAlias type="com.kh.lahol.admin.model.vo.Report_N" alias="A_Report_N"/>
		<!-- 쿠폰 -->
		<typeAlias type="com.kh.lahol.member.model.vo.Coupon" alias="Coupon"/>
		<!-- 회원가입 시 Cafe -->
		<typeAlias type="com.kh.lahol.member.model.vo.Cafe" alias="M_Cafe"/>
		<typeAlias type="com.kh.lahol.store.model.vo.Search" alias="Search"/>

		<!-- 클래스 -->
 		<typeAlias type="com.kh.lahol.coffeeclass.model.vo.CoffeeClass" alias="CoffeeClass"/>
		<!-- 클래스 수강신청 -->
		<typeAlias type="com.kh.lahol.coffeeclass.model.vo.ClassRegister" alias="ClassRegister"/>
		<!-- 클래스 검색  -->
		<typeAlias type="com.kh.lahol.coffeeclass.model.vo.ClassSearch" alias="ClassSearch"/>
		<!-- 클래스 질문&답변 -->
		<typeAlias type="com.kh.lahol.coffeeclass.model.vo.ClassQnA" alias="ClassQnA"/>


		<!-- Yeji_Cafe -->
		<typeAlias type="com.kh.lahol.cafe.bus.model.vo.Cafe" alias="Cafe"/>
		<typeAlias type="com.kh.lahol.cafe.bus.model.vo.Coffee" alias="Coffee"/>
		<typeAlias type="com.kh.lahol.cafe.bus.model.vo.OrderList" alias="OrderList"/>
		<typeAlias type="com.kh.lahol.cafe.user.model.vo.CafeRes" alias="CafeRes"/>
		<typeAlias type="com.kh.lahol.cafe.user.model.vo.CoffeeRes" alias="CoffeeRes"/>
		<typeAlias type="com.kh.lahol.cafe.user.model.vo.CoffeeCart" alias="CoffeeCart"/>
		
		<!-- 마이페이지 쿠폰 -->
		<typeAlias type="com.kh.lahol.mypage.normal.model.vo.Coupon" alias="M_Coupon"/>
		<!-- 마이페이지 클래스 -->
		<typeAlias type="com.kh.lahol.mypage.partner.model.vo.CoffeeClass" alias="M_CoffeeClass"/>
		<!-- 마이페이지 스토어 통계 -->
		<typeAlias type="com.kh.lahol.mypage.partner.model.vo.StoreStats" alias="StoreStats"/>
		<!-- 마이페이지 스토어 Search -->
		<typeAlias type="com.kh.lahol.mypage.partner.model.vo.Search" alias="M_Search"/>
		<!-- 마이페이지 주문 배송내역 -->
		<typeAlias type="com.kh.lahol.mypage.partner.model.vo.Shipping" alias="M_Shipping"/>
		<!-- 마이페이지 일반 구매 내역 -->
		<typeAlias type="com.kh.lahol.mypage.normal.model.vo.PayList" alias="PayList"/>
		<!-- 마이페이지 클래스 디테일 -->
		<typeAlias type="com.kh.lahol.mypage.normal.model.vo.ClassDetail" alias="ClassDetail"/>
		<!-- 마이페이지 스토어 디테일 -->
		<typeAlias type="com.kh.lahol.mypage.normal.model.vo.StoreDetail" alias="StoreDetail"/>
		<!-- 마이페이지 카페 디테일 -->
		<typeAlias type="com.kh.lahol.mypage.normal.model.vo.CafeDetail" alias="CafeDetail"/>
		<!-- 마이페이지 후기  -->
		<typeAlias type="com.kh.lahol.mypage.normal.model.vo.Review" alias="M_Review"/>
		<!-- 마이페이지 후기 등록용 스토어 -->
		<typeAlias type="com.kh.lahol.mypage.normal.model.vo.StoreReview" alias="StoreReview"/>
		<!-- 마이페이지 후기 등록용 클래스 -->
		<typeAlias type="com.kh.lahol.mypage.normal.model.vo.ClassReview" alias="ClassReview"/>
		<!-- 마이페이지 후기 등록용 카페 -->
		<typeAlias type="com.kh.lahol.mypage.normal.model.vo.CafeReview" alias="CafeReview"/>
		<!-- Ad -->
 		<typeAlias type="com.kh.lahol.mypage.partner.model.vo.Ad" alias="Ad"/>
 		<!-- Ad 신청 시 payment -->
 		<typeAlias type="com.kh.lahol.mypage.partner.model.vo.Payment" alias="M_Payment"/>
		
		<!-- 장바구니 -->
		<typeAlias type="com.kh.lahol.common.model.vo.Cart" alias="Cart"/>
		<!-- 쿠폰 -->
		<typeAlias type="com.kh.lahol.common.model.vo.Coupon" alias="Cart_Coupon"/>
		<!-- 결제 -->
		<typeAlias type="com.kh.lahol.common.model.vo.Payment" alias="Cart_Payment"/>
		<!-- 신고 -->
		<typeAlias type="com.kh.lahol.common.model.vo.Report" alias="Report"/>
	</typeAliases>
	
	<!-- mappers -->
	<mappers> 
		<!-- 스토어 mapper -->
		<mapper resource="mappers/store-mapper.xml"/> 
		<!-- 클래스 mapper -->
		<mapper resource="mappers/coffeeclass-mapper.xml"/> 
		<!-- 멤버 mapper -->
		<mapper resource="mappers/member-mapper.xml"/>

		<!-- admin-mapper -->
		<mapper resource="mappers/admin-mapper.xml"/>
		<!-- 장바구니 mapper -->
		<mapper resource="mappers/cart-mapper.xml"/>
		<!-- Cafe mapper -->
		<mapper resource="mappers/cafe-mapper.xml"/>
		<!-- nMypage mapper -->
		<mapper resource="mappers/mypage-mapper.xml"/>

	</mappers>
</configuration>

