body {}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.buttons{
	color: white;
    background-color: #f0c21b;
    border-radius: 35px;
    border : 0px;
    height: 7vh;
    width : 10vw;
    margin: 0.5vw;
}

.buttons:hover{
	color: black;
    background-color: #f8e18d;
}

/* 메인사진 */

.headSearch{
	margin-top : 11vh;
	/* margin-left : 26vw; */
    height: 90vh;
    width : 100vw;
    background-image: url("https://i.pinimg.com/originals/38/15/fb/3815fbd3c0350e1182544e40370f6a26.gif");
    background-size: cover;

}

#top-container {
    
    height: 80vh;
    display: flex;
}

#left-area {
    
    flex: 7;
}

#bus-intro-container {
    
    width: 90%;
    height: 70%;
    margin-top: 7%;
    margin-left: 5%;
}

#intro-title {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    font-size: 6vh;
    
    width: 90%;
    height: 30%;
    margin-left: 7%;
    margin-top: 5%;
    display: flex;
    align-items: center;
}

#intro-desc {
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 2.5vh;
    width: 90%;
    height: 40%;
    margin-left: 8%;
    margin-top: 5%;
    
    line-height: 200%;
}

#right-area {
    
    flex: 4;
    display: flex;
    justify-content: center;
    background-image:url("../../../resources/img/coffeeclass/logo-yellow.PNG");
	background-repeat:no-repeat;
	background-size:100% 110%; 
	margin-top : 10vh;
}

#bottom-container {
    height: 67vh;
    margin-top : 3vh;
}

#title-area {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    font-size: 5vh;
    
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#process-card-container {
    display: flex;
    padding-top: 3%;
}

.process-card {
    flex: 3.3;
    height: 50vh;
    display: flex;
}

.left-box {
    flex: 0.5;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    
    width: 50%;
    height: 30%;
}

.right-box {
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-title {
    
    width: 70%;
    height: 20%;
    font-size: 3.5vh;
    text-align: center;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
}

.card-desc {
    font-family: 'NEXON Lv1 Gothic OTF';
    
    width: 70%;
    height: 50%;
    font-size: 2.5vh;
    line-height: 150%;
}

/* 아코디언 */
.accordion-item{
	margin-left : 25vw;
	width : 50vw;
	height: 8vh;
	
	
}