@charset "UTF-8";


    /* 넥슨 고딕 Bold */
	@font-face {
	    font-family: 'NEXON Lv1 Gothic OTF Bold';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}   

    *{
        font-family: 'NEXON Lv1 Gothic OTF Bold';
    }
      /* 캐로셀 */
     #caroselLeft img{
        width: 500px;
        height: 500px;
     }

	/*tabl*/
     #myTab{
       padding-top: 5%;
     }

     .nav-item{
       padding-left: 5px;
     }

     .nav-link{
       width: 15vw;
       margin: 3%;
       margin-left: 40%;
     }

     .nav-tabs .nav-link.active{
      background-color: #E5BD62;
      color: white;
     }

     /* .nav-tabs .nav-link{
      background-color: #5A452E;
      color: white;
      padding: 5%;
     } */
     
     #home-tab.active, #review-tab.active, #qa-tab.active{
		background-color: #E5BD62;
		border-color : transparent;
	}

     .tab-pane{
       background-color: white;
     }

     /* 클래스 정보 */
     .cl-info{
       padding: 5%;
       /* border: 3px solid #ada397;
       border-radius: 5vw; */
       /* background-color: #f1d1ac; */
     }

     .cl-title{
      font-family: 'ELAND_Nice_M';
      font-size: 30px;
     }

     .fa-bullhorn{
       font-size: 20px;
       /* padding: 5%; */
       float: right;
       color: #810B0B;
     }

     .fa-coffee{
       color: #E5BD62;
     }

     .cl-table td{
       padding: 1%;
     }

     .cl-table ul{
      list-style:none;
      text-align: center;
      padding: 3%;
     }

/*      .btnDiv{
       margin-top: 31%;
       width: 100%;
       margin-left: 50%;
       text-align: center;
     } */
     
     .btnDiv .btn {
     	margin: 5%;
     }
     

     #register-btn, #changeinfo, #rep-btn{
      background-color: #935039;
      color: white;
     }

     #register-btn:hover, #changeinfo:hover, #rep-btn:hover{
      background-color: #c9a89c;
      color: black;
     }

     #cart-btn{
      background-color: #e3a259;
      color: white;
     }
     
     #delete-btn{
      background-color: #e3a259;
      color: white;
     }

     #cart-btn:hover{
      background-color: #f1d1ac;
      color: black;
     }

     .clcomment{
       border: 1px solid black;
       width : 80%;
       /* margin:3vh; */
       margin-top: 3vh;
       margin-left: 6%;
       background-color: #f1d1ac;
     }

     .qna>table{
         border: 1px solid black;
         width : 80%;
         margin:3vh;
         margin-left: 6%;
     }

     #delete-modal-1{
         background-color: rgb(212, 46, 46);
     }

     #delete-modal-2{
         background-color: rgb(230, 224, 224);
     }

     .qna{
         margin-top: 3vh;
         border: 1px solid rgb(182, 142, 127);
         border-radius: 3vw;
     }

     #qa{
        
     }

         /* 네비부분 */
         nav{
            background-color: transparent;
            position: fixed;
            z-index: 99;
            width: 100%;
            padding: 30px 10px;
        }

        .menuWrapper {
            display: flex;
            margin : 0;
            padding : 0;
            z-index: 10;
            border-bottom: 1.5px solid white;
            height: 80px;
            align-items: flex-start;
        }

        .menuWrapper > * {
            display: flex;
            text-align: center;
            box-sizing: border-box;
        }

        .menuWrapper .mainMenu {
            width : 43vw;
            min-width : 600px;
            max-width : 50vw;
        }

        .mainMenu ul,
        .loginArea .loginMenu ul {
            padding: 0;
            margin : 0;
            display: flex;
            align-items: flex-start;
            vertical-align: middle;
        }
        .mainMenu ul li {
            align-self: flex-start;
            list-style: none;
            text-align: center;
            padding : 38px;
            line-height: 1px;
        }

        /* .mainMenu a {
            text-decoration: none;
            color : white;
            transition: all 0.5s linear;
        }

        .mainMenu a:hover {
            color : #F3D798;
            color : #4B654A;
            transition: all 0.5s linear;
        } */

        .logoArea {
            width : 10%;
            min-width: 130px;
            height: 100%;
            text-align: center;
            margin : 0;
            display: flex;
            align-items: center;
        }

        .logoArea img {
            width : 80px;
            height: 60px;
            margin : auto;
            display: block;
        }

        .loginArea {
            width : 45vw;
        }

        .loginArea .infoArea {
            width : 60%;
            /* min-width: 400px; */
        }

        .loginArea .loginMenu {
            width: 40%;
            min-width: 200px;
            float: right;
            text-align: right;
        }

        .loginArea .loginMenu ul {
            display: flex;
            justify-content: flex-end;
        }

        .loginArea .loginMenu ul li {
            list-style-type: none;
            text-align: center;
            padding : 38px 15px;
            line-height: 1px;
        }

        /* .loginArea .loginMenu ul li a {
            text-decoration: none;
            color : white;
            transition: all 0.5s linear;
        }

        .loginArea .loginMenu a:hover {
            color : #F3D798;
            color : #4B654A;
            transition: all 0.5s linear;
        } */

        nav.active{
            background: #CDC2AF;
        }
    </style>
    <!--마우스 오버 카페정보-->
    <style type='text/css'>
      .help-tip{

      border-radius: 50%;

      width: 24px;

      height: 24px;

      font-size: 14px;

      line-height: 26px;

      cursor: default;

      }



      .help-tip:before{

      content:'☕';

      font-weight: bold;

      color:#fff;

      }

      .help-tip:hover div{

      display:block;

      transform-origin: 100% 0%;

      -webkit-animation: fadeIn 0.3s ease-in-out;

      animation: fadeIn 0.3s ease-in-out;



      }



      .help-tip div{
      position: relative;

      display: none;

      text-align: left;

      background-color: #1E2021;

      padding: 20px;

      width: 300px;

      border-radius: 3px;

      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

      color: #FFF;

      font-size: 13px;

      line-height: 1.4;

      }



      .help-tip div:before{

      content: '';

      width:0;

      height: 0;

      border:6px solid transparent;

      border-bottom-color:#1E2021;

      right:5px;

      top:-12px;

      }



      .help-tip div:after{

      width:100%;

      height:300px;

      content:'';

      position: absolute;

      top:-40px;

      left:0;

      }

      .help-tip:hover div{

      display:block;

      transform-origin: 100% 0%;


      -webkit-animation: fadeIn 0.3s ease-in-out;

      animation: fadeIn 0.3s ease-in-out;



      }



      .help-tip div{

      display: none;

      text-align: left;

      background-color: #f5ddaaf3;

      padding-bottom: 32px;

      padding-left: 35px;

      width: 50vh;

      border-radius: 5px;

      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

      left: 20px;

      top : -60px;

      color: #FFF;

      font-size: 13px;

      line-height: 1.4;

      }



      .help-tip div:before{

      content: '';

      width:0;

      height: 0;

      border:6px solid transparent;

      border-bottom-color:#1E2021;

      right:10px;

      top:-12px;

      }



      .help-tip div:after{

      width:100%;

      height:300px;

      content:'';

      top:-40px;

      left:0;

      }
      
 /*후기*/
 #iconbtn{
 width : 30px;
 height : 30px;
 }
 

/*Q&A*/
.qa-content{
    padding: 3%;
}

.writeBtn{
    float: right;
    margin-right: 2%;
}

#wBtn{
    background-color: #4B654A;
    color: white;
    border-radius: 10vw;
    padding: 10% 30%;
    border: white;
}

#qaTitle{
    color: black;
    text-decoration: none;
    text-align: center;

    display: block;
}

.qaTable{
    /* background-color: white; */
    width: 100%;
    margin-top: 3%;
}
/* 아코디언 */
.accordionMenu{
    padding-top: 5%;
}
.accordion-button:not(.collapsed) {
    color: #060b11;
    background-color: #e1d7ca;
}

/*아이콘*/
.reportbtn{
height: 20px; 
width:20px;
}

#home{
	 margin-top : 10vh; 
	 margin-bottom: 20vh;
	
}

/*상세정보*/
.detailinfo{
	margin-bottom : 15vh;	
}

.detailinfo p{
	font-size: 20px;
	color : black;
}

.detailinfo h6{
	font-size: 23px;
	color : black;
	padding-bottom : 5vh;
}

.detailinfo h2{
	color : orange;
	padding-bottom : 1vh;
}

