@charset "UTF-8";

/* 넥슨 고딕 Bold */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'NEXON Lv1 Gothic OTF Bold';
}

#container, #row{
    margin: 0;
    padding: 0;
    width: 100%;
}
.headSearch{
    height: 70vh;
    background-image: url("https://images.unsplash.com/photo-1507226983735-a838615193b0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;

}
.cafe-title{
    color: white;
    font-size: 6rem;
    display: block;
    text-align: center;
    padding-top: 30vh;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
}

#parallelogram {
	width: 50vw;
	height: 100vh;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background: #935039;
}
/* 검색 */
   #searchArea{
   width: 650px; 
   height: 55px; 
   border-radius: 30px; 
   border: 2px solid black; 
   margin-left : 70vh;
   margin-top : 8vh;
   }
   
   #searchValue{
   margin-left: 20px; 
   margin-top : 4px;
   height: 40px; 
   width: 580px; 
   border: 0px;
   }
   
   .searchBtn{
   background-color: transparent; 
   border: 0px;
   }
   
   
   
/* 카페 컨텐츠 내용 */
.content-cafe-sc{
    margin-top: 5%;
}

h1{
	font-family: 'NEXON Lv1 Gothic OTF Bold';
}

#card-body{
	font-family: 'NEXON Lv1 Gothic OTF Bold';
}


#rowP{
    padding-top: 3%;
}
#ct-cf{
    text-align: center;
}
#cardShape{
    width: 15rem;
    height: 20rem;
    border: 1px solid #96877D;
}
#cardShape img{
    width: 15rem;
    height: 13rem;
}
/* 페이징 바 */
.cafe-order-page{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page-color{
    color: #5A452E;
}
#page-color:active{
    background-color: #e3a259;
    color: white;
}
#page-color:hover{
    background-color: #e3a259;
    color: white;
}

/*클래스 한정*/
.container{
    margin: auto;
    max-width: 1300px;
}

.row{
    display : flex;
    align-items: center;
    flex-wrap: wrap;
    
}


.classes{
    margin: auto;
    padding-left : 30px;
    padding-right: 30px;
}

.classes h2{
    margin: 80px;
    text-align: center;
    position: relative;
    line-height: 60px;
}

.classes h2::after{
    content : '';
    background-color: rgb(194, 182, 160);
    width: 80px;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    bottom : 0;
    left : 50%;
    transform: translateX(-50%);    
}

.col{
    flex-basis : 20px;
    padding: 10px;
    min-width: 20%;
    min-height: 500px;
    margin-bottom : 50px;
    transition: transform 0.5s;
}

.col img{
    width : 100%;
}

.rating .fa{
    color : rgb(170, 113, 29);
}

.col:hover{
    transform: translateY(-15px);
}

.input{
    width : 380px;
    height : 38px;
    border-radius: 30px;
}

:root{
    --clr-primary: #ee6352;
    --clr-body: #333;
    --clr-bg:#ddd;
}

.search_box{
    padding : 60px;
    padding-top: 100px;
    top: 600%;
    left : 20%;
    height: 30px;
    text-align: center;
}

#submitbtn{
    cursor: pointer;
    border: 0;
    background : 0;
    border-radius: 50%;
}

/*필터 검색 */

.filter{
    text-align: center; 
    font-size : 16px; 
}

.filter select{
    border: 0;
    margin : 15px;
}


#filterbtn {
    background-color: transparent;
    line-height: 35px;
    border:0px;
}

 #filterbtn i:hover {
	position :relative;
	left : 20%;
	transition: all 0.15s linear 0.2s;
	color : orange;
} 

.card-img-top{
	width : 30vw;
	height : 45vh;
}


/*클래스 개설 버튼1*/
#cr8btn{
		/* border: 2px black solid;
         */
        border-radius : 25px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        margin-left:30px; 
        position:fixed; 
        z-index:1;
}

/*클래스 개설 버튼2*/
#cr8class {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
}
.learn-more {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

#cr8class ::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #f9c4d2;
      border-radius: inherit;
      box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
    
#cr8class hover {
      background: #ffe9e9;
      transform: translate(0, 0.25em);
}
#cr8class hover ::before {
        box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
        transform: translate3d(0, 0.5em, -1em);
      }

#cr8class active {
      background: #ffe9e9;
      transform: translate(0em, 0.75em);
      ::before {
        box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
        transform: translate3d(0, 0, -1em);
      }
}
