@charset "UTF-8";
/* CSS 변수 */
:root {
    --category-desel : #e5e2e2;
    --category-sel : #f0c21b;
    --category-bg1: rgba(106, 142, 35, 0.795);
    --category-bg2 : olivedrab;
    --main-bg :  #4B654A;
    --contents-bg : #fff;
    --toggle-bg : #c7c7c788;
    --caption-txt : #fff;
    --caption-bg : #81ad8071;
    --header-txt : #888888;
    --header-bg : rgb(241, 241, 241);
    --cell-txt : #212121;
    --date-desel : rgba(96, 111, 137, 0.56);
    --date-sel: #606F89;
    --neumo-dark-shadow : #d9d9d9;
    --neumo-light-shadow : #fff;
}
    
[data-theme="dark"]{
    --category-desel: #ffffff;
    --category-sel : #70A6E8;
    --category-bg1: #1F2C3D;
    --category-bg2 : #1F2C3D;
    --main-bg : #000000e0;
    --contents-bg : rgb(44, 44, 44);
    --toggle-bg : #c7c7c788;
    --caption-txt : #fff;
    --caption-bg : rgb(44, 44, 44);
    --header-txt : #ffffff;
    --header-bg : rgb(44, 44, 44);
    --cell-txt: #fff;
    --neumo-dark-shadow : #252525;
    --neumo-light-shadow : #333333;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.swal2-confirm,
.swal2-cancel,
.swal2-html-container,
.swal2-title,
.swal2-validation-message {
	font-family: 'NEXON Lv1 Gothic OTF';
}

/*전체 컨테이너*/
#whole-container {
    display: flex;
}

/* !! 왼쪽 영역*/
#left-area {
    flex: 1.3;
    height: 100vh;
    background-color: var(--main-bg);
}

/* 로고 + 카테고리 컨테이너*/
#left-container {
    height: 85%;
    margin-top: 23%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
}

/* 로고 컨테이너 */
#logo-container {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
}

/* 카테고리 컨테이너*/
#category-container {
    flex: 4;
}


/* 카테고리 */
#category-list {
    list-style: none;
    padding-left: 15%;
    padding-top: 3%;
}

#category-list a {
    font-family: 'yg-jalnan';
    text-decoration: none;
    color: var(--category-desel);
}

.big-category {
    width: 82%;
    border-radius: 20px;
    background-image: linear-gradient(to left,
    transparent,
    transparent 50%,
    var(--category-bg1) 50%,
    var(--category-bg2));
  background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font-size: 2.5vw;
    margin: 1.5vh 0;
}

.big-category {
    display: flex;
    align-items: center;
}

.big-category.active{
    background-color: var(--category-bg2);
}

.sub-category.active #a-text{
    color: var(--category-sel);
}

.big-category:hover {
    background-position: 0 0
}

/* 서브 카테고리 */
.sub-category {
    list-style-type: none;
    font-size: 1.5vw;
    margin: 0.3vh 0;
}

/* 카테고리 리스트 아이콘 */
.category-icon {
    margin-bottom: 3%;
    width: 5vw;
    height: 4.7vh;
}

/* !! 오른쪽 영역 */
#right-area {
    flex: 6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg);
}

/* 토글 스위치 컨테이너 */
#toggle-container {
    flex: 1;
    margin-right: 5%;
    display: flex;
    align-items: center;
}

#toggle-switch {
    width: 10%;
    height: 80%;
    margin-left: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 메인컨텐츠 컨테이너 */
#contents-container {
    flex: 9;
    border-radius: 30px;
    margin-bottom: 5%;
    margin-right: 5%;
    background-color: var(--contents-bg);
    display: flex;
}

#ad-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.ad-title {
    color: var(--date-sel);
    font-family: 'NEXON Lv1 Gothic OTF BOLD';
    font-size: 3.5vh;
}

#waiting,
#confirmed {
    flex: 1;
}

#waiting-list,
#completed-list {
    padding-top: 2%;
}

#img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#img-box {
    height: 80%;
    width: 70%;
    border-radius: 50px;
    background-color: var(--contents-bg);
    box-shadow:  29px 29px 59px var(--neumo-dark-shadow),
             -29px -29px 59px var(--neumo-light-shadow);
    display: flex;
    flex-direction: column;
}

#ad-img {
    flex: 4.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img {
    border: 1px solid pink;
    height: 70%;
    width: 80%;
    border-radius: 5%;
    display: none;
}

#review-text {
    color: var(--cell-txt);
    height: 70%;
    width: 80%;
    border: 1px solid palegoldenrod;
    font-family: 'NEXON Lv1 Gothic OTF';
    line-height: 120%;

}

#ad-text {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'NEXON Lv1 Gothic OTF';
}

#ad-cafe {
    color: var(--date-sel);
    width: 70%;
    text-align: center;
    font-size: 3.5vh;
}

#ad-href {
    color: var(--date-sel);
    font-size: 2.5vh;
}


#ad-buttons {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

/* 토글 */
#switch{
    width: 75px;
    height: 40px;
}

.toggle{
    position: absolute;
    border: 2px solid var(--category-desel);
    border-radius: 20px;
    -webkit-transition: border-color .6s  ease-out;
    transition: border-color .6s  ease-out;
    box-sizing: border-box;
}

.toggle.toggle-on{
    border-color: rgba(137, 194, 217, .4);
    -webkit-transition: all .5s .15s ease-out;
    transition: all .5s .15s ease-out;
}

.toggle-button{
    position: absolute;
    top: 4px;
    width: 28px;
    bottom: 4px;
    right: 39px;
    background-color: var(--toggle-bg);
    border-radius: 19px; 
    cursor: pointer;
    -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
    transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

.toggle-on .toggle-button{
    top: 3px;
    width: 65px;
    bottom: 3px;
    right: 3px;
    border-radius: 23px;
    background-color: #77eb86;
    box-shadow: 0 0 16px #36b941;
    -webkit-transition: all .2s .1s, right .1s;
    transition: all .2s .1s, right .1s;
}


.toggle-text-on{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 36px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */    
    -moz-user-select: none; /* Firefox */


    color: rgba(0,0,0,0);
}

.toggle-on .toggle-text-on{
    color: #ffffff;
    -webkit-transition: color .3s .15s ;
    transition: color .3s .15s ;
}

.toggle-text-off{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    line-height: 36px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */

    cursor: pointer;

    color: #c7c7c7;
}

.toggle-on .toggle-text-off{
    color: rgba(0,0,0,0);
}

/* used for streak effect */
.glow-comp{
    position: absolute;
    opacity: 0;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 6px;
    background-color: rgba(75, 122, 141, .1);
    box-shadow: 0 0 12px rgba(75, 122, 141, .2);
    -webkit-transition: opacity 4.5s 1s;
    transition: opacity 4.5s 1s;
}

.toggle-on .glow-comp{
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.sub-category:hover #a-text {
    color: var(--category-sel);
}

/* 데이터 테이블 */
zing-grid {
    max-width: 70vw;
    height: 30%;
    margin: 0 auto;
    font-family: 'NEXON Lv1 Gothic OTF';
    border: none;
    font-size: 1.6vh;
    color: var(--cell-txt);
    opacity: 1;
    overflow: scroll;
    background-color: var(--contents-bg);
    /* text-align: center; */
  }


  zing-grid.loading { opacity:0; transition:opacity .3s ease-out; }
  zing-grid.loading * { opacity:0; }
  
  zg-caption {
    color: var(--caption-txt);
    padding: 0px 15px;
    font-size: 18px;
    background-color: var(--caption-bg);
  }
  
  zg-head {
    letter-spacing: .5px;
    padding-left: 1px;
  }
  
  
  zg-head, zg-head-cell {
    font-size: 10px;
    align-items: middle;
    color: var(--head);
  }
  
  zg-cell {
    margin-right: 0px;
  }
  
  zg-head-cell:first-child,
  zg-cell:first-child {
    border-left: 0px solid white;
  }

  zg-head-cell {
      background-color: var(--header-bg);
      color: var(--header-txt);
  }
  
  zg-icon {
  max-width: 14px; 
  }
  
  zg-row, zg-cell {
   padding: 0 10px; 
   height: 5.2vh;
  }

  zg-body, zg-pager{
      background-color: var(--contents-bg);
  }
  
  zg-cell:nth-child(1) img {
      vertical-align: middle;
  }
  
  zg-cell:nth-child(1) span {
      vertical-align: middle;
  }
  
  .zg-body .user--avatar { 
    width: 20px; 
    margin-right: 7px;
  }
  
  .zg-body .recent {
    color: #69B668;
  }
  
  .zg-body .unknown {
    color: #ACAAAE;
  }
  
  zg-filter input {
    margin-left: 7px;
    
  }

  zg-watermark {
    display: none;
 }

 zg-pager > zg-text {
     color: var(--cell-txt);
 }
 
 .zg-select-selected, .zg-input-input {
    background-color: var(--contents-bg);
    color: var(--cell-txt);
}

